<%= javascript_tag do %>
   window.urls = `<%= raw @urls %>`;
   window.results = `<%= @results %>`;
   window.pending_results = `<%= @pending_results %>`;
   window.changed_price_results = `<%= @changed_price_results %>`;
   window.paused_results = `<%= @paused_results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>SEO</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="start center" class="radio-container">
      <span><strong>Selected Scope:</strong></span>
      <md-radio-group ng-model="ctrl.query.scope" layout="row"
                      ng-change="ctrl.modifyScope()">
        <md-radio-button ng-repeat="state in ctrl.states" value="{{ state.payload }}">
          {{ state.label | capitalize }} <span ng-if="ctrl.showCounter(state) > -1" ng-class="{'short': ctrl.showCounter(state) > -1}">({{ ctrl.showCounter(state) }})</span>
        </md-radio-button>
      </md-radio-group>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.urls < 1">No results found</h3>
    </div>

    <md-table-container class="urls-table" ng-if="ctrl.urls.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column="md-column">Created Date</th>
            <th md-column="md-column">Pub Email</th>
            <th md-column="md-column">User Type</th>
            <th md-column="md-column">Url</th>
            <th md-column="md-column">Description</th>
            <th md-column="md-column">Suggested Pay</th>
            <th md-column="md-column">Pub Inputed</th>
            <th md-column="md-column">Adv Price</th>
            <th md-column="md-column">DA</th>
            <th md-column="md-column">TF</th>
            <th md-column="md-column" ng-show="ctrl.query.scope !== 'pending'">DR</th>
            <th md-column="md-column">Do Follow?</th>
            <th md-column="md-column">Home Page?</th>
            <th md-column="md-column">Blog Post?</th>
            <th md-column="md-column">Actions</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="url" md-select-id="name" md-auto-select ng-repeat="url in ctrl.urls">
            <td md-cell>{{ url.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ url.profile.publisher.email }}</td>
            <td md-cell>{{ url.profile.profile_type | uppercase }}</td>
            <td md-cell>{{ url.href }}</td>
            <td md-cell class="small-padding editable" ng-click="ctrl.editDescription($event, url)">Edit</td>
            <td md-cell class="small-padding">{{ url.suggested_price | currency:"$":0 }}</td>
            <td md-cell class="small-padding">{{ url.price | currency:"$":0 }}</td>
            <td md-cell class="small-padding editable" ng-click="ctrl.editShownPrice($event, url)">{{ url.shown_price | currency:"$":0 }}</td>
            <td md-cell class="small-padding">{{ url.domain_authority }}</td>
            <td md-cell class="small-padding">{{ url.trust_flow }}</td>
            <td md-cell class="small-padding">{{ url.ahrefs_dr || ((ctrl.query.scope !== 'pending') ? '&mdash;' : '') }}</td>
            <td md-cell class="small-padding checkbox-container">
              <md-checkbox ng-model="url.follow_link" aria-label="do follow?"
                           ng-change="ctrl.toggleField($event, url, 'follow_link')"></md-checkbox>
            </td>
            <td md-cell class="small-padding checkbox-container">
              <md-checkbox ng-model="url.allow_home_page" aria-label="allow home page?"
                           ng-change="ctrl.toggleField($event, url, 'allow_home_page')"></md-checkbox>
            </td>
            <td md-cell class="small-padding checkbox-container">
              <md-checkbox ng-model="url.allow_blog_post" aria-label="allow blog post?"
                           ng-change="ctrl.toggleField($event, url, 'allow_blog_post')"></md-checkbox>
            </td>
            <td md-cell>
              <md-select class="underline" ng-model="url.action"
                         name="small-action"
                         placeholder="Please Select"
                         ng-change="ctrl.performAction(url.action, url)">
                <md-option ng-repeat="action in ctrl.actions" value="{{ action.id }}">
                  {{ action.name }}
                </md-option>
              </md-select>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getUrls" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
