<%= javascript_tag do %>
   window.author_invoices = `<%= raw @author_invoices %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Author's invoices</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
      <span flex></span>
      <md-button ng-if="<%= current_admin_user.author? %>" class="md-raised md-warn" aria-label="invoices" ng-click="ctrl.createInvoice($event)">
        Produce Invoice
      </md-button>
    </div>

    <!-- Content -->

    <md-table-container class="invoices-table">
      <table md-table md-row-select="md-row-select" multiple>
        <thead md-head md-order="-invoice.created_at">
          <tr md-row>
            <th md-column>Created Date</th>
            <th md-column ng-if="<%= current_admin_user.admin? %>">Author's name</th>
            <th md-column># of Approved Articles</th>
            <th md-column>Download</th>
            <th md-column ng-if="<%= current_admin_user.admin? %>">Paid?</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="author" md-select-id="name" md-auto-select ng-repeat="invoice in ctrl.author_invoices">
            <td md-cell>{{ invoice.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell ng-if="<%= current_admin_user.admin? %>">{{ invoice.author.first_name }} {{ invoice.author.last_name }}</td>
            <td md-cell>{{ invoice.approved_articles_count }}</td>
            <td md-cell>
              <md-button class="md-icon-button" aria-label="download" ng-click="ctrl.downloadDocument(invoice)">
                <md-icon>file_download</md-icon>
              </md-button>
            </td>
            <td md-cell ng-if="<%= current_admin_user.admin? %>">
              <md-checkbox ng-model="invoice.paid" ng-disabled="true" aria-label="paid">
              </md-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit"
                         md-limit-options="[10, 15, 20]"
                         md-page="ctrl.query.page"
                         md-total="{{ctrl.results}}"
                         md-on-paginate="ctrl.getInvoices"
                         md-page-select></md-table-pagination>

  </md-card-content>
</md-card>
