<%= javascript_tag do %>
  window.agents = `<%= raw @agents %>`;
  window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Agents Accounts</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
      <span flex></span>
      <md-button class="md-raised md-warn" aria-label="new admin" ng-click="ctrl.promptNewAgent($event)">
        New Agent
      </md-button>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.agents < 1">No results found</h3>
    </div>

    <md-table-container class="agents-table" ng-if="ctrl.agents.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
        <tr md-row>
          <th md-column>Created Date</th>
          <th md-column>Email</th>
          <th md-column>Full Name</th>
          <th md-column>Terminate Account</th>
          <th md-column>Assigned Advertisers</th>
          <th md-column>Confirmed?</th>
          <th md-column>Go To Account</th>
        </tr>
        </thead>
        <tbody md-body="md-body">
        <tr md-row="md-row" md-select="agent" md-select-id="name" md-auto-select ng-repeat="agent in ctrl.agents">
          <td md-cell>{{ agent.created_at | date:'MM-dd-yyyy' }}</td>
          <td md-cell>{{ agent.email }}</td>
          <td md-cell>{{ agent.first_name }}
            {{ agent.last_name }}</td>
          <td md-cell>
            <md-button class="md-warn md-mini" aria-label="terminate" ng-if="ctrl.isActivated(agent)"
                       ng-click="ctrl.showConfirmToTerminate($event, agent)">Terminate</md-button>
            <md-button class="md-accent md-mini" aria-label="activate" ng-if="ctrl.isTerminated(agent)"
                       ng-click="ctrl.showConfirmToActivate($event, agent)">Rehire</md-button>
          </td>
          <td md-cell>{{ agent.advertisers_count }}</td>
          <td md-cell>
            <md-checkbox aria-label="confirmed checkbox" ng-disabled="agent.status_confirmed"
                         ng-model="agent.status_confirmed" ng-change="ctrl.toggleConfirm($event, agent)">
            </md-checkbox>
          </td>
          <td md-cell>
            <md-button class="md-icon-button" aria-label="go" href="/admin/agents/{{agent.id}}">
              <md-icon>launch</md-icon>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="<%#= @results %>" md-on-paginate="ctrl.getAgents" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
