<%= javascript_tag do %>
  window.agent = `<%= raw @agent %>`;
<% end %>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline"><strong>Agent: </strong>{{ ctrl.agent.email }}</span>
      <span flex></span>
    </md-card-title-text>
    <div layout="row" layout-align="end center">
      <md-button class="md-raised" href="/admin/agents" aria-label="index">Back</md-button>
      <md-button class="md-raised md-warn" aria-label="update password"
                 ng-click="ctrl.showUpdatePassword($event)">Change password
      </md-button>
    </div>
  </md-card-title>
  <br>
  <md-card-content>
    <div class="content">
      <form name="agentForm">
        <div layout="row" flex>
          <md-input-container flex>
            <label>First name</label>
            <input name="firstName" ng-model="ctrl.agent.first_name">
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input name="lastName" ng-model="ctrl.agent.last_name">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Email</label>
            <input name="email" ng-model="ctrl.agent.email" ng-pattern="/^.+@.+\..+$/" ng-required="true"
                   ng-blur="ctrl.checkEmail(agentForm)">
            <div ng-messages="agentForm.email.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
              <div ng-message="required">This is required.</div>
              <div ng-message="emailtaken">This email has already been taken.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Paypal email</label>
            <input name="paypal_email" ng-model="ctrl.agent.paypal_email"
                   ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="agentForm.paypal_email.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Phone</label>
            <input name="phone" ng-model="ctrl.agent.phone">
          </md-input-container>
          <md-input-container flex>
            <input ng-show="false" aria-label="empty">
          </md-input-container>
        </div>
        <br />
      </form>
    </div>
  </md-card-content>
</md-card>