<%= javascript_tag do %>
   window.ads = `<%= raw @ads %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <h2>Declined and Refunded Orders</h2>
    </div>
    <md-table-container>
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple">
        <thead md-head="md-head">
          <tr md-row="md-row">
            <th md-column="md-column">Pub URL</th>
            <th md-column="md-column">Destination URL</th>
            <th md-column="md-column">Blog Title</th>
            <th md-column="md-column">Pub Price</th>
            <th md-column="md-column">Adv Price</th>
            <th md-column="md-column">State</th>
            <th md-column="md-column">Notes</th>
            <th md-column="md-column">Actions</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select-id="name" md-auto-select ng-repeat="ad in ctrl.ads" ng-if="!ad.seen">
            <td md-cell>{{ ad.url.href }}</td>
            <td md-cell>{{ ad.link.href }}</td>
            <td md-cell class="blog-title-col"><p>{{ ad.blog_post_title }}</p></td>
            <td md-cell>{{ ad.url.price | currency:"$":0 }}</td>
            <td md-cell>{{ ad.url.shown_price | currency:"$":0 }}</td>
            <td md-cell>{{ ctrl.adState(ad) }}</td>
            <td md-cell>{{ ad.comments[0] ? ad.comments[0].comment : '' }}</td>
            <td md-cell>
              <md-button class="md-warn md-mini" aria-label="Download" ng-disabled="!ctrl.hasFile(ad.blog_post_doc)" ng-click="ctrl.downloadFile(ad)">Download</md-button>
              <md-button class="md-warn md-mini" aria-label="Remove" ng-click="ctrl.remove(ad, $event)">Remove</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.pagination.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.pagination.page" md-total="{{ ctrl.results }}" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
