.adv-orders-search-bar {
  .md-input {
    margin-right: .5rem !important;
  }
}

.adv-orders-panel {
  .md-summary > span.title {
    display: block;
    font-weight: bold;
    height: 1.5rem;
  }
}
