@import 'colors';

.md-datepicker-button {
  display: none;
}

md-card._md { padding: 0; }

md-table-container {
  table.md-table {
    .assigned {
      background-color: $blue-state-chip;
    }
    .completed {
      background-color: $teal-state-chip;
    }
    .admin_rejected {
      background-color: $red-state-chip;
    }
    .agency_rejected {
      background-color: $red-state-chip;
    }
    .author_rejected {
      background-color: $red-state-chip;
    }
    .rewritten {
      background-color: $red-state-chip;
    }
    .past-eta {
      background-color: $red-state-chip;
    }
    .admin_approved {
      background-color: $green-state-chip;
    }
    .cancelled {
      background-color: $cancelled-red;
    }
    .done {
      background-color: $purple-state-chip;
    }
    .selected {
      background-color: $highlighted-yellow;
    }

    td.md-cell {
      &.editable {
        color: $primary;
      }

      &.campaign {
        width: 1.25rem;
      }

      &.small-padding {
        padding-right: .375rem !important;
      }
    }

    &:not(.md-row-select) {
      th.md-column {
        &:first-child {
          padding-left: .8rem;
        }

        &:last-child {
          padding-right: 0;
        }

        &:nth-child(n+2):nth-last-child(n+2) {
          padding: 0 1.10rem 0 0;
        }
      }
      td.md-cell {
        &:first-child {
          padding-left: .8rem;
          padding-right: 1.2rem;
        }

        &:last-child {
          padding-right: 0;

          .md-button {
            margin: 0;
          }
        }

        &:nth-child(n+2):nth-last-child(n+2) {
          padding: 0 1.25rem 0 0;

          &.no-padding-right {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.md-icon-button + .md-datepicker-input-container {
  margin-top: .4rem;
  margin-left: 0;
}

div.actions-container {
  span {
    cursor: pointer;
    margin-bottom: .375rem;
    margin-right: .1875rem;
    outline: none;

    &.disabled {
      cursor: none;
      color: $divider;
    }
  }
}

md-table-container.articles-table {
  md-chip.state {
    font-size: .8125em;
  }

  .placeholder {
    color: red !important;
    font-style: italic;
  }
}
