.categories-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50%;
  margin-top: 5rem;

  .no-padding {
    padding: 0;

    .category{
       min-width: 9rem;
    }
  }
}

.readonly {
  .md-contact-chips > .md-chips {
    md-chip {
      padding-right: .5rem;

      .md-chip-remove-container { display: none; }
    }

    .md-chip-input-container { display: none; }
  }
}
