@import 'colors';

$transition-time: .3s;

.list-items-container {
  display: flex;
  flex-direction: column;
  height: 22rem;
}

.category {
  min-width: 10rem;

  &.selected {
    background-color: $primary;
    color: $white;
  }

  &:hover {
    background-color: $primary-dark;
    transition: $transition-time;
  }

  &.md-focused {
    background-color: $primary;
    transition: $transition-time;
  }
}

md-contact-chips {
  .md-contact-chips {
    width: 100%;
  }
}
