@import 'colors';

md-table-container.quotes-table {
  th.md-column:last-child {
    padding-left: 1.5rem;
  }
}

md-toolbar.md-table-toolbar.alternate {
  background-color: $light-skyblue-toolbar;
  z-index: 1;

  div.md-toolbar-tools {
    span.warning {
      font-size: .8em;
      color: $accent;
    }
    span.selection {
      font-size: .8em;
      color: $primary;
    }
  }
}
div.md-autocomplete-wrapper:not(:only-child) {
  margin-top: .3rem;
}

input.add-more {
  width: 4rem;
  border-color: $dark-input;
}

div.layout-row.radio-container {
  span {
    margin-right: 2rem;

    &.short {
      margin-right: 0;
    }
  }
}

md-table-container.new-urls-table {
  table.md-table.md-row-select {
    th.md-column {
      &.date {
        width: 4rem;
        padding: 0 1rem;
      }
      &.small-padding {
        width: 5.5rem;
        padding-right: .5rem;
      }
      &.short-padding {
        padding-right: 1.5rem;
      }
      &.medium-padding {
        padding-right: 2rem;
        width: 4rem;
      }
      &.long-padding {
        padding-right: 7.5rem;
        width: 4rem;
      }
    }
    td.md-cell {
      &.date {
        width: 4rem;
        padding: 0 1rem;
      }
      &.small-padding {
        width: 5.5rem;
        padding-right: .5rem;
      }
      &.short-padding {
        padding-right: 1.5rem;
      }
      &.medium-padding {
        padding-right: 2rem;
        width: 4rem;
      }
      &.campaign-container {
        max-width: 8rem;
      }
    }
  }

  tr.bought { background-color: $green-state-chip; }
  tr.quoted { background-color: $red-state-chip; }
}

div.slider-container {
  &:first-child {
    margin-right: 1rem;
  }

  &:last-child {
    margin-left: 1rem;
  }
}

div.layout-row {
  md-autocomplete {
    &:not(:first-child) {
      margin-left: 1.5rem;
    }
  }
}

.rzslider .rz-tick.rz-selected {
  background-color: $accent;
}

.rzslider .rz-pointer {
  outline: none;
  border: 0;
  background-color: $accent-dark;
  width: 1rem;
  height: 1rem;
  top: -.4rem;
}

.rzslider .rz-tick {
  margin-left: 0;
}

.rzslider .rz-bar {
  background-color: $divider;
}

.rzslider .rz-selection {
  background-color: $accent;
}

.rzslider .rz-pointer:after {
  visibility: hidden;
}

td.md-cell.short-cell {
  max-width: 1rem;
}

form.campaign {
  margin-bottom: .625rem;
}

label.fake-floating {
  font-size: .8em;
  color: rgba(0,0,0,.54);
  padding-left: .3rem;
}

.autocomplete-custom-template {
  li {
    border-bottom: 1px solid #CCCCCC;
    height: auto;
    padding-top: .8rem;
    padding-bottom: .8rem;
    white-space: normal;
    &:last-child {
      border-bottom-width: 0;
    }
  }
  .item-title, .item-metadata {
    display: block;
    line-height: 2;
  }
  .item-title md-icon {
    height: 1.8rem;
    width: 1.8rem;
  }
}
