.dashboard h2{
  margin-bottom: 40px;
}

.reportsMenu .md-button {
  width: 200px;
  margin: 35px;
}

.period-select {
  width: 150px;
}

md-datepicker {
  margin: 0 30px;
}

.angular-notifications-container {
  top: -20px;
  right: 30px;
  color: black;
  font-size: 1.2em;
}

.search-container {
  margin-left: 28rem;
}