@import 'colors';

search-input {
  padding: 1rem;
}

// Force edit dialogs min width
md-edit-dialog {
  div.md-content {
    min-width: 25rem;
  }
}

.md-button.md-icon-button.downloadable {
  md-icon {
    color: $primary;
  }
}

md-card {
  &.terminated {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    width: 60%;
  }

  &.no-padding {
    padding: 0;
  }
}

// TODO: Check this change system wide
md-input-container .md-errors-spacer {
  min-height: 0;
}

tr.md-row {
  &.assigned {
    background-color: $white;
  }
}

.raised-input-container {
  margin-left: 3rem;

  .raised-input {
    background-color: $white;
    margin: .6rem 0;
    padding: 0 1rem;
    height: 5%;
    border-color: transparent;
    box-shadow: 0 2px 5px 0 $shadow;
  }
}

.md-sidemenu-content {
  display: block;
}

section.content {
  height: 100%;
}

md-content {
  &.root {
    background-color: $dashboard-background;
  }
  &.render {
    background-color: $dashboard-background;
    max-width: 98rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
}

md-progress-linear {
  &.md-default-theme .md-container, .md-container {
    background-color: $skyblue-toolbar;
  }
  &.md-default-theme .md-bar, .md-bar {
    background-color: $blue-toolbar;
  }
}

md-autocomplete {
  min-width: 8rem;

  &.authors {
    md-input-container .md-input {
      width: 9rem;
    }
  }

  &.action {
    min-width: 10rem;
  }

  &.action {
    min-width: 5.9375rem;
  }
}

div.md-datepicker-input-container {
  max-width: 6rem;
}

md-select.underline.md-table-select {
  .md-select-value {
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
  }
}
