@import 'colors';

md-dialog.notes-content {
  p {
    &:nth-child(n+1) {
      margin: .4rem;
    }
  }
  span {
    &.admin {
      color: $black;
    }
    &.author {
      color: $primary;
    }
    &.advertiser {
      color: $accent;
    }
  }

  md-input-container.note-area {
    margin: .5rem .375rem;

    label:first-child {
      padding-left: .5rem;
    }
  }
}
