@import 'colors';

tr.old {
  background-color: $red-state-chip;
}

md-table-container.orders-table {
  table.md-table:not(.md-row-select) {
    td.md-cell:last-child {
      padding-right: .625rem;
    }

    th.md-column.note-button {
      padding-left: .8rem;
    }

    md-icon.colored {
      color: $primary;
    }
  }
}
