@import 'colors';

md-table-container.publishers-table, md-table-container.advertisers-table {
  md-chip {
    &.active {
      background-color: $green-chip;
      color: $white;
    }
    &.terminated {
      background-color: $cancelled-red;
      color: $white;
    }
  }

  td.state-cell {
    width: 1.25rem;
  }
}

form {
  div.layout-row {
    md-input-container {
      margin-bottom: 0;
    }
  }
}

div.layout-row {
  md-input-container:first-child {
    margin-right: 1.25rem;
  }

  md-input-container:only-child {
    margin-right: 0;
  }
}

div.layout-column {
  md-input-container:first-child {
    margin-bottom: 0;
  }
}

md-expansion-panel.message-panel {
  form {
    margin: 0;
  }
}
