<%= javascript_tag do %>
   window.ads = `<%= raw @ads %>`;
   window.results = `<%= @results %>`;
<% end %>

<!-- Ads selection card -->
<md-card ng-if="ctrl.showAdsTable">
  <md-card-content>

    <!-- Title & search bar -->
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Reassign Adv URL</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <!-- Results table -->
    <md-table-container>
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple">
        <thead md-head="md-head">
          <tr md-row="md-row">
            <th md-column="md-column">Advertiser</th>
            <th md-column="md-column">Email</th>
            <th md-column="md-column">Campaign</th>
            <th md-column="md-column">Url</th>
            <th md-column="md-column">Action</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select-id="name" md-auto-select ng-repeat="ad in ctrl.ads">
            <td md-cell>{{ ad.advertiser.full_name }}</td>
            <td md-cell>{{ ad.advertiser.email }}</td>
            <td md-cell>{{ ad.campaign.name }}</td>
            <td md-cell>{{ ad.url.href }}</td>
            <td md-cell>
              <md-button class="md-warn md-mini" aria-label="Reassign" ng-click="ctrl.reAssign($event, ad)">Re Assign</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getAds" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>

<!-- Ad update form -->
<form name="adReassignForm" ng-if="!ctrl.showAdsTable" ng-cloak>

  <!-- URL info card -->
  <md-card>
    <md-card-content>

      <!-- Title -->
      <div layout="row" layout-align="space-between center" flex>
        <div layout="row" layout-align="start center">
          <h2>Re Assign Adv URL</h2>
        </div>
      </div>

      <!-- URL row -->
      <div layout="row" flex>
        <md-input-container flex>
          <label>URL</label>
          <input ng-model="ctrl.selectedAd.url.href" name="url" type="text" disabled>
        </md-input-container>
      </div>

      <!-- Current advertiser & campaign row -->
      <div layout="row" flex>
        <md-input-container flex>
          <label>Current Advertiser</label>
          <input ng-model="ctrl.selectedAd.advertiser.email" name="advEmail" type="text" disabled>
        </md-input-container>
        <md-input-container flex>
          <label>Current Campaign</label>
          <input ng-model="ctrl.selectedAd.campaign.name" name="campaignName" type="text" disabled>
        </md-input-container>
      </div>

      <!-- Update advertiser section -->
      <!-- Title & search input -->
      <div layout="row" layout-align="space-between center" flex>
        <div layout="row" layout-align="start center">
          <h3>Change advertiser</h3>
          <div layout="row" layout-align="end center" flex class="raised-input-container">
            <input flex ng-model="ctrl.advSearchCriteria"
                   class="md-input no-focus raised-input search-input" placeholder="Search..."
                   ng-keydown="$event.keyCode === 13 && ctrl.searchAdvs()">
            <md-button class="md-raised" aria-label="search" ng-click="ctrl.searchAdvs()">search</md-button>
          </div>
        </div>
      </div>

      <!-- Search results table -->
      <md-table-container class="urls-table" ng-if="ctrl.advertisers.length > 0 && !ctrl.advertiserSelected()">
        <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
          <thead md-head="md-head">
            <tr md-row="md-row">
              <th md-column="md-column">Name</th>
              <th md-column="md-column">Adv Email</th>
              <th md-column="md-column">Campaign</th>
              <th md-column="md-column">Action</th>
            </tr>
          </thead>
          <tbody md-body="md-body">
            <tr md-row="md-row" md-select="url" md-select-id="name" md-auto-select ng-repeat="adv in ctrl.advertisers" ng-if="adv.campaigns.length > 0">
              <td md-cell>{{ adv.full_name }}</td>
              <td md-cell>{{ adv.email }}</td>
              <td md-cell>
                <md-input-container class="md-block">
                  <label>Campaign</label>
                  <md-select class="underline" name="profile"
                    placeholder="Select profile" ng-model="ctrl.newCampaign"
                    ng-change="ctrl.selectedCampaignChanged($index)">
                    <md-option ng-repeat="campaign in adv.campaigns" value="{{ campaign }}"
                      ng-click="ctrl.selectCampaign(campaign)">
                      {{ campaign.name }}
                    </md-option>
                  </md-select>
                </md-input-container>
              </td>
              <td md-cell>
                <md-button class="md-warn md-mini" aria-label="Select" ng-click="ctrl.selectAdv($event, adv)" ng-disabled="ctrl.rowOfSelectedCampaign != $index">Select</md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <div layout="row" flex ng-if="ctrl.advertiserSelected()">
        <md-input-container flex>
          <label>New Advertiser</label>
          <input ng-model="ctrl.newAdvertiser.email" name="newAdv" type="text" disabled>
        </md-input-container>
        <md-input-container flex>
          <label>New Campaign</label>
          <input ng-model="ctrl.selectedCampaign.name" name="newCampaign" type="text" disabled>
        </md-input-container>
      </div>

      <div layout="row" layout-align="end center" flex>
        <md-button class="md-raised md-warn" aria-label="reassign adv" ng-disabled="!ctrl.advertiserSelected()" ng-click="ctrl.update($event)">
          Save
        </md-button>
      </div>
    </md-card-content>
  </md-card>
</form>
