<%= javascript_tag do %>
   window.ads = `<%= raw @ads %>`;
   window.results = `<%= @results %>`;
   window.payout_total = `<%= payout_total %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Payouts</h2>
      </div>
      <div layout="row" layout-align="start center">
        Total Money Due:&nbsp;<strong id="payout-total">{{ ctrl.payoutTotal | currency:"$":0 }}</strong>
      </div>
    </div>

    <div layout="row" layout-align="center center">
      <h3 ng-if="ctrl.ads.length < 1">No results found</h3>
    </div>

    <md-table-container class="payouts-table" ng-if="ctrl.ads.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column>Approved Date</th>
            <th md-column>Pub Email</th>
            <th md-column>Adv Email</th>
            <th md-column>Pub URL</th>
            <th md-column>Adv URL</th>
            <th md-column>Anchor</th>
            <th md-column>Blog Post URL</th>
            <th md-column>Payment System</th>
            <th md-column>Payment Email</th>
            <th md-column>Amount</th>
            <th md-column>Actions</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="order" md-select-id="name" md-auto-select ng-repeat="ad in ctrl.ads | orderBy: ctrl.query.order">
            <td md-cell>{{ ad.approved_date | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ ad.publisher.email }}</td>
            <td md-cell>{{ ad.advertiser.email }}</td>
            <td md-cell>{{ ad.url.href }}</td>
            <td md-cell><a ng-href="{{ ad.link.href }}" target="_blank">{{ ad.full_pub_url }}</a></td>
            <td md-cell>{{ ad.link_text }}</td>
            <td md-cell><a ng-href="{{ ad.link.href }}" target="_blank">{{ ad.link.href }}</a></td>
            <td md-cell>{{ ad.publisher.payment_method }}</td>
            <td md-cell>{{ ad.publisher.payment_method === 'skrill' ? ad.publisher.skrill_email : ad.publisher.paypal_email}}</td>
            <td md-cell>{{ ad.url.price | currency:"$":0 }}</td>
            <td md-cell>
              <md-button class="md-raised md-accent" aria-label="pay" ng-click="ctrl.pay(ad, $index, $event)">Pay</md-button>
              <md-button class="md-raised md-warn" aria-label="cancel" ng-click="ctrl.cancel(ad.id, $index, $event)">Cancel</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getAds" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
