<%= javascript_tag do %>
   window.articles = `<%= raw @articles %>`;
   window.authors = `<%= raw @authors %>`;
   window.states  = `<%= raw @states %>`;
   window.results = `<%= @results %>`;
   window.isAdmin = <%= current_admin_user.admin? %>;
<% end %>
<md-card>
  <md-progress-linear class="progress-bar" md-whiteframe="3" md-mode="indeterminate" ng-show="ctrl.showProgressBar">
  </md-progress-linear>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Articles</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
      <div layout="row" layout-align="start center" class="radio-container" ng-if="<%= current_admin_user.admin? %>">
        <span><strong>Selected Scope:</strong></span>
        <md-radio-group ng-model="ctrl.query.scope" layout="row"
                        ng-change="ctrl.modifyScope()">
          <md-radio-button ng-repeat="state in ctrl.states" value="{{ state.payload }}">{{ state.label | capitalize }}</md-radio-button>
        </md-radio-group>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.results < 1">No results found</h3>
    </div>

    <md-table-container class="articles-table" ng-if="ctrl.articles.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row" ng-if="<%= current_admin_user.admin? %>">
            <td md-column ng-hide="true"></td>
            <td md-column></td>
            <td md-column></td>
            <td md-column></td>
            <td md-column><md-button class="md-raised" aria-label="copy action" ng-click="ctrl.copyAttribute('title')"> Copy Title </md-button></td>
            <td md-column><md-button class="md-raised" aria-label="copy action" ng-click="ctrl.copyAttribute('url')"> Copy URL </md-button></td>
            <td md-column><md-button class="md-raised" aria-label="copy action" ng-click="ctrl.copyAttribute('anchor')"> Copy Anchor </md-button></td>
            <td md-column></td>
            <td md-column></td>
            <td md-column></td>
            <td md-column><md-button class="md-raised" aria-label="copy author" ng-click="ctrl.copyAuthor()"> Copy Author </md-button></td>
            <td md-column><md-button class="md-raised" aria-label="copy action" ng-click="ctrl.copyAction()"> Copy Action </md-button></td>
            <td md-column></td>
            <td md-column></td>
          </tr>
          <tr md-row="md-row">
            <th md-column ng-hide="true">Order</th>
            <th md-column>Date</th>
            <th md-column ng-if="<%= current_admin_user.admin? %>">Campaign</th>
            <th md-column>Publisher URL</th>
            <th md-column>Blog Title</th>
            <th md-column>Destination URL</th>
            <th md-column>Anchor Text</th>
            <th md-column>Notes</th>
            <th md-column>Length</th>
            <th md-column>ETA</th>
            <th md-column ng-if="<%= current_admin_user.admin? %>">Author</th>
            <th md-column>Actions</th>
            <th md-column ng-if="<%= current_admin_user.author? %>">Doc Name</th>
            <th md-column>File</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row ng-if="ctrl.showArticle(article.state)" ng-class="ctrl.getRowClass($index, article.state)" md-select="article"
            md-select-id="name" md-auto-select ng-repeat="article in ctrl.articles"
            ng-click="ctrl.selectRow($event, $index, article)">
            <td md-cell ng-hide="true">{{ article.created_at }}</td>
            <td md-cell>{{ article.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell class="campaign" ng-if="<%= current_admin_user.admin? %>">{{ article.link.campaign.name }}</td>
            <td md-cell>{{ article.url.href }}</td>
            <td md-cell class="editable" ng-click="ctrl.editTitle($event, article)">{{ article.ad.blog_post_title || 'Author\'s choice' }}</td>
            <td md-cell class="editable" ng-class="ctrl.placeholderStyle(article.link.href)" ng-click="ctrl.editDestinationURL($event, article)">{{ article.link.href }}</td>
            <td md-cell class="editable no-padding-right" ng-class="ctrl.placeholderStyle(article.ad.link_text)" ng-click="ctrl.editAnchor($event, article)">{{ article.ad.link_text || 'Author\'s choice'}}</td>
            <td md-cell class="small-padding">
              <md-button aria-label="notes" class="md-icon-button" ng-click="ctrl.showNotes($event, article)">
                <md-icon>note</md-icon>
              </md-button>
            </td>
            <td md-cell>{{ article.url.required_length }}</td>
            <td md-cell class="small-padding">
              <md-datepicker ng-model="article.eta" ng-change="ctrl.editETA(article)" md-min-date="ctrl.minEtaDate" md-placeholder="Set ETA" md-hide-icon="'calendar'">
            </td>
            <td md-cell class="small-padding" ng-if="<%= current_admin_user.admin? %>">
              <md-autocomplete
                  class="authors"
                  md-clear-button="ctrl.canChangeAuthor(article)"
                  md-input-name="articleAuthor"
                  md-selected-item="article.author"
                  md-selected-item-change="ctrl.authorSelected(article)"
                  md-search-text="article.searchTextAuthor[$index]"
                  md-items="author in ctrl.querySearchAuthors(article.searchTextAuthor[$index]) | orderBy: 'name'"
                  md-item-text="ctrl.selectedAuthorLabel(author)"
                  md-min-length="0"
                  ng-disabled="!ctrl.canChangeAuthor(article)"
                  md-floating-label="Author"
                  md-require-match>
               <md-item-template>
                 <span md-highlight-text="article.searchTextAuthor[$index]" md-highlight-flags="i">
                   {{ author.full_name }} ({{ author.pending_articles_count }})
                 </span>
               </md-item-template>
             </md-autocomplete>
            </td>
            <td md-cell>
              <form name="stateForm[$index]">
                <md-input-container class="md-block">
                  <label>State</label>
                  <md-select class="underline" ng-model="article.action"
                             name="action"
                             ng-disabled="!article.actions.length"
                             placeholder="{{ article.actionPlaceholder }}"
                             ng-change="ctrl.optionSelected($event, article, stateForm[$index])">
                    <md-option ng-repeat="action in article.actions" value="{{ action }}">
                      {{ action.label }}
                    </md-option>
                  </md-select>
                  <div ng-messages="stateForm[$index].action.$error">
                    <div ng-message="unable">Set an author first.</div>
                    <div ng-message="file">Upload a file first.</div>
                  </div>
                </md-input-container>
              </form>
              {{ ctrl.getStateLabel(article) }}
            </td>
            <td md-cell class="small-padding" ng-if="<%= current_admin_user.author? %>">
              {{ ctrl.getBlogPostDocName(article) }}
            </td>
            <td md-cell="md-cell">
              <div layout="column" class="actions-container">
                <br>
                <span ng-class="{ 'disabled': ctrl.noFileUploaded(article) }"
                      ng-click="!ctrl.noFileUploaded(article) && ctrl.showOnlineDocument(article)">View</span>
                <span ng-click="ctrl.uploadFile($event, article)">Upload</span>
                <span ng-class="{ 'disabled': ctrl.noFileUploaded(article) }"
                      ng-click="!ctrl.noFileUploaded(article) && ctrl.downloadDocument(article)">Download</span>
                <span ng-if="<%= current_admin_user.admin? %>" ng-click="ctrl.deleteContent($event, article)">Delete</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getArticles" md-page-select></md-table-pagination>

  </md-card-content>
</md-card>
