<div>
  <h2>Notes</h2>
  <div id="body-notes">
    <% @notes.find_each do |note| %>
    <div>
      <span class="<%= note.role.downcase %>">
        <strong><%= note.role %></strong>:
        <%= note.comment %>
        -
        <%= note.created_at.strftime('%m-%d-%Y %I:%M:%S') %></span>
    </div>
    <% end %>
  </div>
  <br>
  <table>
    <tr>
      <td>
        <textarea id="new-note" rows="8" cols="80" class="notes"></textarea>
      </td>
      <td>
        <button id="btn-new-note" type="button" name="button" class="normal" data-id="<%= @article_id %>">Send</button>
      </td>
    </tr>
  </table>
</div>
