<md-card ng-show="ctrl.showAgingOrdersTable" class="additional-urls">

  <md-card-title>
    <md-card-title-text>
    <span class="md-headline">
      <strong>AGING ORDERS</strong>
    </span>
    </md-card-title-text>
    <md-button class="md-raised" ng-click="ctrl.resetTables()">Back</md-button>
  </md-card-title>

  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.searchLateOrders()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.searchLateOrders()">search</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.lateOrders.length === 0">No results found</h3>
    </div>

    <md-table-container class="orders-table" ng-if="ctrl.lateOrders.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column>Order Date</th>
            <th md-column>Pub Email</th>
            <th md-column>Pay Out Amt</th>
            <th md-column>Adv Email</th>
            <th md-column>Adv Charge</th>
            <th md-column class="note-button">Notes</th>
            <th md-column>Actions</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="order" md-select-id="name" md-auto-select
              ng-repeat="order in ctrl.lateOrders">
            <td md-cell>{{ order.ad.approved_date | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ order.publisher.email }}</td>
            <td md-cell>{{ order.url.price | currency:"$":0 }}</td>
            <td md-cell>{{ order.advertiser.email }}</td>
            <td md-cell>{{ order.url.shown_price | currency:"$":0 }}</td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="ctrl.showMessages($event, order)">
                <md-icon ng-class="{colored: order.ad.comments.length > 0}">note</md-icon>
              </md-button>
            </td>
            <td md-cell>
              <md-select class="underline"
                         ng-model="order.action"
                         name="action"
                         placeholder="Please Select"
                         ng-change="ctrl.handleActionSelection($event, order, order.action)">
                <md-option ng-repeat="action in order.actions" value="{{ action.payload }}">
                  {{ action.label }}
                </md-option>
              </md-select>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.agingOrdersLimit" md-limit-options="[10, 15, 20]" md-page="ctrl.agingOrdersPage" md-total="{{ ctrl.lateOrdersResults }}" md-on-paginate="ctrl.getLateOrders" md-page-select></md-table-pagination>
  </md-card-content>

</md-card>
