<md-card ng-show="ctrl.showNewLeadTable" class="additional-urls">

  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <strong>NEW LEAD</strong>
      </span>
    </md-card-title-text>
    <md-button class="md-raised" ng-click="ctrl.resetTables()">Back</md-button>
  </md-card-title>
  <md-card-content class="dashboard">

    <div layout="row" layout-align="center center" >
      <h3 ng-if="!ctrl.newAccounts">No results found</h3>
    </div>

    <md-table-container class="advertisers-table" ng-if="ctrl.newAccounts.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple"">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column="md-column">Created Date</th>
            <th md-column="md-column">Adv Email</th>
            <th md-column="md-column">First Name</th>
            <th md-column="md-column">Last Name</th>
            <th md-column="md-column">Assign Sales Person</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="adv" md-select-id="name" md-auto-select ng-repeat="account in ctrl.newAccounts">
            <td md-cell>{{ account.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ account.email }}</td>
            <td md-cell>{{ account.user.first_name }}</td>
            <td md-cell>{{ account.user.last_name }}</td>
            <td md-cell>
              <md-select ng-model="agents[account.id]" aria-label="agents"
                  ng-model-options="{trackBy: '$value.id' }"
                  md-on-open="selectOpened = true"
                  md-on-close="selectOpened = false">
                <md-option ng-selected="account.agent_id === null" ng-value="noAgent" ng-click="ctrl.showAgentConfirm($event, selectOpened, null, account)">No agent</md-option>
                <md-option ng-repeat="agent in ctrl.agents" ng-value="agent" ng-selected="agent.id === account.agent.id" ng-click="ctrl.showAgentConfirm($event, selectOpened, agent.id, account)">
                  {{ agent.first_name }} {{ agent.last_name }}
                </md-option>
              </md-select>
            </td>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.newLeadsLimit" md-limit-options="[20, 30, 40]" md-page="ctrl.newLeadsPage" md-total="{{ ctrl.accountsResults }}" md-on-paginate="ctrl.getNewLeads" md-page-select></md-table-pagination>

  </md-card-content>
</md-card>
