<md-card ng-show="ctrl.showPubNoProfileTable" class="additional-urls">

  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <strong>PUBLISHERS WITHOUT A PROFILE APPROVED</strong>
      </span>
    </md-card-title-text>
    <md-button class="md-raised" ng-click="ctrl.resetTables()">Back</md-button>
  </md-card-title>
  <md-card-content class="dashboard">
    <div layout="row" layout-align="space-between center" flex class="raised-input-container">
      <div layout="row" layout-align="start center">
        <md-input-container class="period-select">
          <md-select ng-model="selectedPeriod" placeholder="Select a period" ng-change="ctrl.filterPublishersByPeriod()">
            <md-option ng-value="period" ng-repeat="period in ctrl.days">{{ period.title }}</md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-raised md-warn" aria-label="Download" ng-click="ctrl.downloadPublishersReport()">Download</md-button>
      </div>
      <div layout="row" layout-align="end">
        <input ng-model="ctrl.query.filter"
               class="md-input no-focus raised-input search-input" placeholder="Search..."
               ng-keydown="$event.keyCode === 13 && ctrl.filterPublishersByPeriod()">
        <md-button class="md-raised" aria-label="search" ng-click="ctrl.filterPublishersByPeriod()">search</md-button>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.publishers < 1">No results found</h3>
    </div>

    <md-table-container class="publishers-table" ng-if="ctrl.publishers.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple"">
        <thead md-head="md-head" md-publishers="ctrl.query.publishers">
          <tr md-row="md-row">
            <th md-column="md-column">Created Date</th>
            <th md-column="md-column">First Name</th>
            <th md-column="md-column">Last Name</th>
            <th md-column="md-column">Pub Email</th>
            <th md-column="md-column">Go To Account</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="pub" md-select-id="name" md-auto-select ng-repeat="pub in ctrl.publishers">
            <td md-cell>{{ pub.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ pub.user.first_name }}</td>
            <td md-cell>{{ pub.user.last_name }}</td>
            <td md-cell>{{ pub.email }}</td>
            <td md-cell>
              <md-button class="md-icon-button" aria-label="go" href="/admin/publishers/{{pub.id}}">
                <md-icon>launch</md-icon>
              </md-button>
            </td>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getLPublishersNoProfile" md-page-select></md-table-pagination>

  </md-card-content>
</md-card>
