<%= javascript_tag do %>
   window.authors = `<%= raw @authors %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Authors Accounts</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
      <span flex></span>
      <md-button class="md-raised md-warn" aria-label="new admin" ng-click="ctrl.promptNewAuthor($event)">
        New Author
      </md-button>
      <md-button class="md-raised md-warn" aria-label="invoices" href="/admin/author_invoices">
        View Invoices
      </md-button>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.authors < 1">No results found</h3>
    </div>

    <md-table-container class="authors-table" ng-if="ctrl.authors.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row>
            <th md-column>Created Date</th>
            <th md-column>Email</th>
            <th md-column>Full Name</th>
            <th md-column>Terminate Account</th>
            <th md-column>Assigned Articles</th>
            <th md-column>Confirmed?</th>
            <th md-column>Go To Account</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="author" md-select-id="name" md-auto-select ng-repeat="author in ctrl.authors">
            <td md-cell>{{ author.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ author.email }}</td>
            <td md-cell>{{ author.first_name }}
              {{ author.last_name }}</td>
            <td md-cell>
              <md-button class="md-warn md-mini" aria-label="terminate" ng-if="ctrl.isActivated(author)"
                         ng-click="ctrl.showConfirmToTerminate($event, author)">Terminate</md-button>
              <md-button class="md-accent md-mini" aria-label="activate" ng-if="ctrl.isTerminated(author)"
                         ng-click="ctrl.showConfirmToActivate($event, author)">Rehire</md-button>
            </td>
            <td md-cell>{{ author.articles_count }}</td>
            <td md-cell>
              <md-checkbox aria-label="confirmed checkbox" ng-disabled="author.confirmed"
                           ng-model="author.confirmed" ng-change="ctrl.toggleConfirm($event, author)">
              </md-checkbox>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" aria-label="go" href="/admin/authors/{{author.id}}">
                <md-icon>launch</md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="<%= @results %>" md-on-paginate="ctrl.getAuthors" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
