<%= javascript_tag do %>
  window.author = `<%= raw @author %>`;
  window.categories = `<%= raw @categories %>`;
<% end %>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline"><strong>Author: </strong>{{ ctrl.author.email }}</span>
      <span flex></span>
    </md-card-title-text>
    <div layout="row" layout-align="end center">
      <md-button class="md-raised" href="/admin/authors" aria-label="index"
                 ng-if="<%= current_admin_user.admin? %>">Back</md-button>
      <md-button class="md-raised md-warn" aria-label="become"
                 ng-click="ctrl.becomeAuthor()" ng-if="<%= current_admin_user.admin? %>">Become Author</md-button>
      <md-button class="md-raised md-warn" aria-label="update password"
                 ng-click="ctrl.showUpdatePassword($event)">Change password
      </md-button>
    </div>
  </md-card-title>
  <br>
  <md-card-content>
    <div class="content">
      <form name="authorForm">
        <div layout="row" flex>
          <md-input-container flex>
            <label>First name</label>
            <input name="firstName" ng-model="ctrl.author.first_name">
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input name="lastName" ng-model="ctrl.author.last_name">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Email</label>
            <input name="email" ng-model="ctrl.author.email" ng-pattern="/^.+@.+\..+$/" ng-required="true"
              ng-blur="ctrl.checkEmail(authorForm)">
            <div ng-messages="authorForm.email.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
              <div ng-message="required">This is required.</div>
              <div ng-message="emailtaken">This email has already been taken.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Paypal email</label>
            <input name="paypal_email" ng-model="ctrl.author.paypal_email"
              ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="authorForm.paypal_email.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Phone</label>
            <input name="phone" ng-model="ctrl.author.phone">
          </md-input-container>
          <md-input-container flex>
            <input ng-show="false">
          </md-input-container>
        </div>
        <br />

        <div ng-if="<%= current_admin_user.author? %>" layout="row" layout-align="start">
          <md-button class="md-raised md-warn" ng-click="ctrl.addCategories = !ctrl.addCategories">
            <span ng-show="!ctrl.addCategories">Add categories</span>
            <span ng-show="ctrl.addCategories">Hide categories</span>
          </md-button>
        </div>

        <md-contact-chips flex class="md-no-underline"
          ng-class="{ 'readonly': <%= current_admin_user.admin? %> }"
          ng-model="ctrl.author.categories"
          md-contacts="ctrl.querySearch($query)"
          md-contact-name="name"
          md-require-match="true"
          md-highlight-flags="i"
          filter-selected="true"
          placeholder="Select Categories"
          layout="row">
        </md-contact-chips>

        <md-list ng-if="<%= current_admin_user.author? %>" ng-show="ctrl.addCategories" class="categories-container">
          <md-list-item class="no-padding" ng-repeat="category in ctrl.categories | orderBy: 'name'" >
            <md-button class="md-raised category" aria-label="{{ category.name }}"
             ng-class="{ selected: ctrl.isSelected(category) }"
             ng-click="ctrl.toggleCategory(category)">
              {{ category.name }}
            </md-button>
          </md-list-item>
        </md-list>

        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-if="authorForm.$dirty || ctrl.categoriesChanged" class="md-raised md-warn" ng-disabled="!authorForm.$valid"
                     ng-click="ctrl.showConfirmToUpdate($event, authorForm, ctrl.author)" aria-label="update">Save changes
          </md-button>
        </md-card-actions>
      </form>
    </div>
  </md-card-content>
</md-card>

<md-card class="no-padding" ng-if="<%= current_admin_user.admin? %>">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{ ctrl.getInvoicesLabel() }}">
      <div md-padding layout="row" layout-align="center center" ng-if="ctrl.author.invoices.length === 0">
        <h3>There are no Invoices to show yet</h3>
      </div>
      <div ng-repeat="invoice in ctrl.author.invoices">
        <md-expansion-panel class="invoice-panel" md-component-id="invoicesPanel">
          <md-expansion-panel-collapsed>
            <div class="md-title">{{ invoice.created_at | date:'MM-dd-yyyy' }}</div>
            <div class="md-summary">{{ invoice.subject }}</div>
            <md-expansion-panel-icon></md-expansion-panel-icon>
          </md-expansion-panel-collapsed>

            <form name="invoiceForm">
              <md-expansion-panel-expanded>
                <md-expansion-panel-header ng-click="$panel.collapse()">
                  <div class="md-title">{{ invoice.created_at | date:'MM-dd-yyyy' }}</div>
                  <div class="md-summary">{{ invoice.subject }}</div>
                  <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-header>
                <md-expansion-panel-content>
                  <h4>Question</h4>
                  <p>{{ invoice.question_invoice }}</p>
                  <h4 ng-if="invoice.reply_invoice">Response</h4>
                  <p ng-if="invoice.reply_invoice">{{ invoice.reply_invoice }}</p>
                  <br>
                  <md-input-container class="md-block" flex ng-if="!invoice.reply_invoice">
                    <label>Write your reply here</label>
                    <input type="text" ng-model="invoice.response">
                  </md-input-container>
                </md-expansion-panel-content>

                <md-expansion-panel-footer ng-if="invoice.response">
                  <div flex></div>
                  <md-button class="md-raised md-warn" aria-label="reply invoice"
                             ng-click="ctrl.repliedMessage(invoice)">Reply
                  </md-button>
                </md-expansion-panel-footer>
            </form>
          </md-expansion-panel-expanded>
        </md-expansion-panel>
      </div>
    </md-tab>
  </md-tabs>
</md-card>
