<md-card ng-show="ctrl.showNewUrls" class="additional-urls">
  <md-card-content>
    <h2>Add additional URLs</h2>
    <%= render partial: 'selection_toolbar' %>
    <md-table-container class="new-urls-table">
      <table ng-model="ctrl.selected" md-table multiple="true" md-progress="ctrl.promise" md-row-select="true">
        <thead md-head md-order="ctrl.queryNew.order">
          <tr md-row>
            <th md-column class="date">Created Date</th>
            <th md-column class="short-padding">Publisher Email</th>
            <th md-column class="short-padding">URL</th>
            <th md-column class="short-padding">DA</th>
            <th md-column class="short-padding">TF</th>
            <th md-column class="short-padding">DR</th>
            <th md-column class="medium-padding">PUB Price</th>
            <th md-column class="long-padding">ADV Charge</th>
            <th md-column class="small-padding">Add More</th>
            <th md-column>Campaign</th>
            <th md-column class="short-padding">Pause</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row md-select="url" md-select-id="id"
              ng-repeat="url in ctrl.queryUrls | limitTo: ctrl.queryNew.limit : (ctrl.queryNew.page -1) * ctrl.queryNew.limit | orderBy: ctrl.queryNew.order"
              ng-if="ctrl.isActive(url)" ng-class="ctrl.getRowClass(url)">
            <td md-cell class="date">{{ url.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell class="short-padding">{{ url.publisher_email }}</td>
            <td md-cell class="short-padding">{{ url.href }}</td>
            <td md-cell class="short-padding">{{ url.domain_authority }}</td>
            <td md-cell class="short-padding">{{ url.trust_flow }}</td>
            <td md-cell class="short-padding">{{ url.ahrefs_dr }}</td>
            <td md-cell class="medium-padding">{{ url.price | currency:"$":0 }}</td>
            <td md-cell class="medium-padding editable"
                ng-focus="ctrl.editPrice($event, url)"
                ng-click="ctrl.editPrice($event, url)">{{ url.shown_price | currency:"$":0 }}</td>
            <td md-cell class="small-padding">
              <md-input-container flex>
                <input ng-init="url.repeats = 1" ng-model="url.repeats" min="1"
                       ng-blur="ctrl.modifyCampaignList(url)" type="number"
                       step="1" aria-label="repeats" class="add-more">
              </md-input-container>
            </td>
            <td md-cell class="campaign-container">
              <form name="campaignForm" class="campaign">
                <div class="md-autocomplete-wrapper" ng-repeat="campaign in url.campaigns track by $index">
                  <md-autocomplete flex
                     md-input-name="urlCampaign"
                     md-selected-item="url.campaigns[$index]"
                     md-search-text="url.searchTextUrl[$index]"
                     md-items="campaign in ctrl.querySearchCampaign(url.searchTextUrl[$index]) | orderBy: 'name'"
                     md-item-text="campaign.name"
                     md-min-length="0"
                     md-require-match>
                   <md-item-template>
                     <span md-highlight-flags="i" md-highlight-text="url.searchTextUrl[$index]">{{ campaign.name }}</span>
                   </md-item-template>
                   <div ng-messages="campaignForm.urlCampaign.$error" ng-if="campaignForm.urlCampaign.$touched">
                     <div ng-message="md-require-match">Please select an existing Campaign.</div>
                   </div>
                 </md-autocomplete>
                </div>
              </form>
            </td>
            <td md-cell="small-padding">
              <md-button class="md-warn md-mini" aria-label="Pause" ng-click="ctrl.pauseUrl(url, $event)">PAUSE</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <%= render partial: 'selection_toolbar' %>
    <md-table-pagination md-limit="ctrl.queryNew.limit" md-limit-options="[50, 75, 100]" md-page="ctrl.queryNew.page" md-total="{{ ctrl.results }}"></md-table-pagination>
  </md-card-content>
</md-card>
