<md-card ng-if="ctrl.quote.urls.length > 0">
  <md-card-content>
    <h2>Already selected URLs</h2>
    <div class="md-actions" layout="row" layout-align="end center">
      <md-button class="md-raised md-warn" ng-click="ctrl.uploadFile($event, ctrl.quote.id)">Upload</md-button>
      <md-button class="md-raised md-warn" ng-click="ctrl.downloadSelectedUrls()">Download</md-button>
    </div>
    <md-table-container class="assigned-urls-table">
      <table md-table="md-table" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.querySelected.order">
          <tr md-row="md-row">
            <th md-column="md-column">Publisher Email</th>
            <th md-column="md-column">URL</th>
            <th md-column="md-column">Domain Authority</th>
            <th md-column="md-column">Trust Flow</th>
            <th md-column="md-column">Domain Rating</th>
            <th md-column="md-column">PUB Price</th>
            <th md-column="md-column">ADV Charge</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="url" md-select-id="name" md-auto-select
              ng-repeat="url in ctrl.quote.urls | limitTo: ctrl.querySelected.limit : (ctrl.querySelected.page -1) * ctrl.querySelected.limit | orderBy: ctrl.querySelected.order">
            <td md-cell="md-cell">{{ url.publisher_email }}</td>
            <td md-cell="md-cell">{{ url.href }}</td>
            <td md-cell="md-cell">{{ url.domain_authority }}</td>
            <td md-cell="md-cell">{{ url.trust_flow }}</td>
            <td md-cell="md-cell">{{ url.ahrefs_dr }}</td>
            <td md-cell="md-cell">{{ url.price }}</td>
            <td md-cell="md-cell">{{ url.shown_price }}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.querySelected.limit" md-limit-options="[5, 10, 15]" md-page="ctrl.querySelected.page" md-total="{{ ctrl.quote.urls.length }}"></md-table-pagination>
  </md-card-content>
</md-card>
