<%= javascript_tag do %>
   window.quotes = `<%= raw @quotes %>`;
   window.results = `<%= @results %>`;
   window.assigned_quotes = `<%= raw @assigned_quotes %>`;
   window.assignedResults = `<%= @assigned_results %>`;
<% end %>

<style>
  md-edit-dialog div.md-content.layout-column {
    min-width: 17px;
  }
</style>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Pending Quotes</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
      <md-button class="md-raised md-warn" aria-label="new quote" ng-click="ctrl.promptNewQuote($event)">
        New Quote
      </md-button>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.results < 1">No results found</h3>
    </div>

    <md-table-container class="quotes-table" ng-if="ctrl.quotes.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column>Ordered Date</th>
            <th md-column>Advertiser</th>
            <th md-column>Product</th>
            <th md-column>Campaign's name</th>
            <th md-column>Campaign's URL</th>
            <th md-column>Created By</th>
            <th md-column style="padding-left: 30px;">Action</th>
            <th md-column>Delete</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="quote" md-select-id="name" md-auto-select ng-repeat="quote in ctrl.quotes">
            <td md-cell="md-cell">{{ quote.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell="md-cell">
              {{ quote.advertiser.user.first_name }} {{ quote.advertiser.user.last_name }}
            </td>
            <td md-cell>Search</td>
            <td md-cell>{{ quote.campaign.name }}</td>
            <td md-cell>{{ quote.first_approve_link.href }}</td>
            <td md-cell>{{ quote.created_by }}</td>
            <td md-cell>
              <md-button class="md-warn md-mini" aria-label="Search" href="/admin/contents/{{quote.id}}">Search</md-button>
            </td>
            <td md-cell>
              <md-button class="md-accent md-raised" aria-label="delete" ng-click="ctrl.deleteQuote(quote.id, $event)">Delete</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getQuotes" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>

<br>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Assigned Quotes</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.queryAssigned.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.assignedResults < 1">No results found</h3>
    </div>

    <md-table-container class="quotes-table" ng-if="ctrl.assignedQuotes.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.queryAssigned.order">
          <tr md-row="md-row">
            <th md-column="md-column">Ordered Date</th>
            <th md-column="md-column">Advertiser</th>
            <th md-column="md-column">Product</th>
            <th md-column="md-column">Campaign's name</th>
            <th md-column="md-column">Campaign's URL</th>
            <th md-column="md-column">Created By</th>
            <th md-column="md-column action">Action</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="quote" md-select-id="name" md-auto-select ng-repeat="quote in ctrl.assignedQuotes">
            <td md-cell="md-cell">{{ quote.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell="md-cell">
              {{ quote.advertiser.user.first_name }} {{ quote.advertiser.user.last_name }}
            </td>
            <td md-cell="md-cell">Search</td>
            <td md-cell="md-cell">{{ quote.campaign.name }}</td>
            <td md-cell="md-cell">{{ quote.first_approve_link.href }}</td>
            <td md-cell="md-cell">{{ quote.created_by }}</td>
            <td md-cell="md-cell">
              <md-button class="md-warn md-mini" aria-label="Search" href="/admin/contents/{{quote.id}}">Search</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.queryAssigned.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.queryAssigned.page" md-total="{{ ctrl.assignedResults }}" md-on-paginate="ctrl.getAssignedQuotes" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
