<md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.selected.length">
  <div class="md-toolbar-tools">
    <span class="selection">URLs {{ ctrl.selected.length > 1 ? 'selected' : 'select' }}: {{ ctrl.selected.length }} - Total placements: {{ ctrl.placements() }} - Total dollars: {{ ctrl.selectedAmount() | currency:"$":0 }}</span>
    <span flex></span>
    <span class="warning" ng-if="ctrl.quote.agency_content">Agency is doing content! You can only save & send to advertiser account!</span>
    <span flex></span>
    <md-button class="md-raised md-primary" aria-label="cart" ng-click="ctrl.createCartItems($event, ctrl.selected)">Move to cart</md-button>
    <md-button class="md-raised md-primary" aria-label="quote" ng-click="ctrl.createQuotes($event, ctrl.selected)">Move to quotes</md-button>
    <md-button class="md-raised md-primary" aria-label="content" ng-click="ctrl.sendToContent($event, ctrl.selected)" ng-hide="ctrl.quote.agency_content">Send to content</md-button>
  </div>
</md-toolbar>
