<%= javascript_tag do %>
   window.quote = `<%= raw @content %>`;
   window.categories = `<%= raw @categories.to_json %>`;
   window.publishers = `<%= raw @publishers.to_json %>`;
   window.urls = `<%= raw @urls.to_json %>`;
   window.campaigns = `<%= raw @campaigns.to_json %>`;
<% end %>
<style media="screen">
md-edit-dialog div.md-content {
  min-width: 3rem;
}
</style>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <strong>Quotes search for:</strong> {{ ctrl.quote.advertiser.full_name }} - {{ ctrl.quote.advertiser.email }}
      </span>
      <span flex></span>
    </md-card-title-text>
    <div layout="row" layout-align="end center">
      <md-button class="md-raised" href="/admin/contents" aria-label="index">Back</md-button>
    </div>
  </md-card-title>

  <md-card-content>
    <form name="searchForm">
      <div layout="row">
        <md-input-container flex="30">
          <label>Campaign's name</label>
          <input readonly="true" name="campaignName" ng-model="ctrl.quote.campaign.name">
        </md-input-container>
        <md-input-container flex>
          <label>Campaign's domain</label>
          <input readonly="true" name="campaignDomain" ng-model="ctrl.quote.first_approve_link.href">
        </md-input-container>
      </div>
      <br>
      <div layout="column">
        <label ng-if="ctrl.selectedCategories.length > 0">Categories</label>
        <md-contact-chips
            ng-model="ctrl.selectedCategories"
            md-contacts="ctrl.queryCategories($query)"
            md-contact-name="name"
            md-require-match="true"
            md-highlight-flags="i"
            filter-selected="true"
            placeholder="Campaign's Categories">
        </md-contact-chips>
      </div>
      <br>
      <md-input-container class="md-block" flex>
        <md-chips
           ng-model="ctrl.aditional_keywords"
           name="word"
           md-transform-chip="ctrl.transformAdditionalKeyword($chip)"
           placeholder="Additional keywords"
           secondary-placeholder="">
            <md-autocomplete flex
                md-search-text="ctrl.searchText" md-highlight-flags="$"
                md-items="item in ctrl.queryCategories(ctrl.searchText)"
                md-item-text="item.name" md-no-cache="true"
                md-autoselect="false"
                md-autofocus="false">
                <span md-highlight-text="ctrl.searchText" id="virtualOptionsParent" md-highlight-flags="i">
                       {{ item.name }}
                </span>
            </md-autocomplete>
        </md-chips>
      </md-input-container>

      <div layout="row">
        <md-autocomplete flex
           md-input-name="pubEmail"
           md-selected-item="ctrl.publisher"
           md-search-text="ctrl.searchTextPub"
           md-items="publisher in ctrl.querySearchPublishers(ctrl.searchTextPub) | orderBy: 'email'"
           md-item-text="publisher.email"
           md-require-match
           md-min-length="0"
           md-floating-label="Search Specific Pub Email">
         <md-item-template>
           <span md-highlight-flags="^i" md-highlight-text="ctrl.searchTextPub">{{ publisher.email }}</span>
         </md-item-template>
         <div ng-messages="searchForm.pubEmail.$error">
           <div ng-message="md-require-match">Please select an existing publisher.</div>
         </div>
       </md-autocomplete>

        <md-autocomplete flex
           md-input-name="pubUrl"
           md-selected-item="ctrl.url"
           md-search-text="ctrl.searchTextUrl"
           md-items="url in ctrl.querySearchUrls(ctrl.searchTextUrl) | orderBy: 'href'"
           md-item-text="url.href"
           md-require-match
           md-min-length="0"
           md-floating-label="Search Specific PUB URL">
         <md-item-template>
           <span md-highlight-flags="i" md-highlight-text="ctrl.searchTextUrl">{{ url.href }}</span>
         </md-item-template>
         <div ng-messages="searchForm.pubUrl.$error">
           <div ng-message="md-require-match">Please select an existing URL.</div>
         </div>
       </md-autocomplete>

      </div>
      <div layout="row">
        <div class="slider-container" flex>
          <p>Domain Authority</p>
          <rzslider rz-slider-model="ctrl.quote.domain_authority_min" rz-slider-high="ctrl.quote.domain_authority_max"
                    rz-slider-options="ctrl.domainAuthority.options"></rzslider>
        </div>
        <div class="slider-container" flex>
          <p>Trust Flow</p>
          <rzslider rz-slider-model="ctrl.quote.trust_flow_min" rz-slider-high="ctrl.quote.trust_flow_max"
                    rz-slider-options="ctrl.trustFlow.options"></rzslider>
        </div>
        <div class="slider-container" flex>
          <p>Domain Rating</p>
          <rzslider rz-slider-model="ctrl.quote.ahrefs_dr_min" rz-slider-high="ctrl.quote.ahrefs_dr_max"
                    rz-slider-options="ctrl.ahrefsDr.options"></rzslider>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div layout="row" layout-align="start center" class="radio-container">
        <span>Who is doing content?</span>
        <md-radio-group ng-model="ctrl.quote.agency_content" layout="row"
                        ng-change="ctrl.modifyPrices()">
          <md-radio-button ng-value="false">Scalefluence</md-radio-button>
          <md-radio-button ng-value="true">Agency</md-radio-button>
        </md-radio-group>
      </div>
    </form>
  </md-card-content>
  <div class="md-actions" layout="row" layout-align="end center">
    <md-button class="md-raised md-warn" ng-click="ctrl.contentSearch()">Search</md-button>
  </div>
</md-card>
<br>
<%= render partial: 'already_selected_urls_card' %>
<br>
<%= render partial: 'additional_urls_card' %>
