<%= stylesheet_link_tag "content_search" %>

<form action="contents_search.html" method="post">
  <fieldset class="inputs">
    <legend>
      <span>Quote search</span>
    </legend>
    <ol>
      <li class="select input optional" id="content_search_categories">
        <label for="content_search[categories]" class="label">Campaign's Categories</label>
        <input type="text" name="categories" value="<%= @content.decorate.categories_names %>">
      </li>

      <li class="select input optional" id="content_search_keywords">
        <label for="content_search[keywords]" class="label">Aditional Keywords</label>
        <input type="text" name="keywords">
      </li>

      <li class="select input optional" id="content_search_publisher">
        <label for="content_search[publisher]" class="label">Publisher email</label>
        <select name="content_search[publisher]" id="content_search_publisher_id" title="Url Href" tabindex="-1">
          <option value=""></option>
        </select>
      </li>

      <li class="select input optional" id="content_search_url_href">
        <label for="content_search[url_href]" class="label">URl href</label>
        <select name="content_search[url_href]" id="content_search_url_href_id" title="Url Href" tabindex="-1">
          <option value=""></option>
        </select>
      </li>

      <li class="select input optional" id="content_search_campaign">
        <label for="content_search_campaign_id" class="label">Campaign</label>
        <select name="content_search[campaign_id]" id="content_search_campaign_id" title="Campaign" tabindex="-1">
          <option value=""></option>
        </select>
      </li>

      <li class="range input optional numeric stringish" id="content_domain_authority_min_input">
        <label for="content_domain_authority_min" class="label">DOMAIN AUTHORITY MIN</label>
        <input id="content_domain_authority_min" min="0" max="100" step="10" type="range" name="content[domain_authority_min]">
      </li>
      <li class="range input optional numeric stringish" id="content_domain_authority_max_input">
        <label for="content_domain_authority_max" class="label">DOMAIN AUTHORITY MAX</label>
        <input id="content_domain_authority_max" min="0" max="100" step="10" type="range" name="content[domain_authority_max]">
      </li>
      <li class="range input optional numeric stringish" id="content_trust_flow_min_input">
        <label for="content_trust_flow_min" class="label">TRUST FLOW MIN</label>
        <input id="content_trust_flow_min" min="0" max="100" step="10" type="range" name="content[trust_flow_min]">
      </li>
      <li class="range input optional numeric stringish" id="content_trust_flow_max_input">
        <label for="content_trust_flow_max" class="label">TRUST FLOW MAX</label>
        <input id="content_trust_flow_max" min="0" max="100" step="10" type="range" name="content[trust_flow_max]">
      </li>
      <li class="select input optional" id="content_search_pricing">
        <label for="content_search_pricing" class="label">Add $30 for Content?</label>
        <div class="radio-buttons-container">
          <input type="radio" name="price_content" value="true"> Yes
          <input type="radio" name="price_content" value="false" checked> No<br>
          <button id="search_button" type="button" name="button">Search</button>
          <div id='loader_searching' class='loader'></div>
        </div>
      </li>
    </ol>
  </fieldset>
</form>

<div id="assigned_items">
  <h2>Already selected URLs</h2>
  <div class="index_content_assigned">
    <div class="index_as_table">
      <table border="0" cellspacing="0" cellpadding="0" id="index_content_assigned" class="index_table index" paginator="true">
        <thead>
          <tr>
            <th class="col col-publisher_email">Publisher email</th>
            <th class="col col-url">Url</th>
            <th class="col col-da">DA</th>
            <th class="sortable col col-tf">TF</th>
            <th class="col col-price">Pub Price</th>
            <th class="col col-payout">Adv Charge</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>

<form>
  <div id="new_items" class="paginated_collection">
    <div class="paginated_collection_contents">
      <h2>Add additional URLs</h2>
      <div class="index_content">
        <div class="index_as_table">
          <table border="0" cellspacing="0" cellpadding="0" id="index_table_urls" class="index_table index" paginator="true">
            <thead>
              <tr>
                <th class="col col-selectable">
                  <div class="resource_selection_toggle_cell">
                    <input type="checkbox" id="collection_selection_toggle_all" name="collection_selection_toggle_all" class="toggle_all">
                  </div>
                </th>
                <th class="col col-created_date">Created Date</th>
                <th class="col col-publisher_email">Publisher email</th>
                <th class="col col-url">Url</th>
                <th class="col col-da">DA</th>
                <th class="sortable col col-tf">TF</th>
                <th class="col col-price">Pub Price</th>
                <th class="col col-payout">Adv Charge</th>
                <th class="col col-final-price">Edit Price</th>
                <th class="col col-add-more">Add more</th>
                <th class="col col-campaign">Campaign</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Setup variables to be used on JS -->
<script type="text/javascript">
  window.contentId = "<%= @content.id %>";
  window.campaignName = "<%= @content.campaign.name %>";
  window.campaignId = "<%= @content.campaign.id %>";
  window.domainMin = "<%= @content.domain_authority_min %>";
  window.domainMax = "<%= @content.domain_authority_max %>";
  window.trustMin = "<%= @content.trust_flow_min %>";
  window.trustMax = "<%= @content.trust_flow_max %>";
  window.agencyContent = "<%= @content.agency_content %>"
  window.increment = 30;
  window.urls = "<%= @content.urls.map(&:id) %>"
  window.indexPage = "<%= admin_contents_path %>"
</script>

<!-- Call the actual JS -->
<%= javascript_include_tag "content_search" %>
