<%= javascript_tag do %>
   window.orders = `<%= raw @orders %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Posts</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.results < 1">No results found</h3>
    </div>

    <md-table-container class="orders-table" ng-if="ctrl.orders.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column>Approved Date</th>
            <th md-column>Adv Email</th>
            <th md-column>Pub Email</th>
            <th md-column>Pub URL</th>
            <th md-column>Payout</th>
            <th md-column>Charge</th>
            <th md-column>Destination URL / Anchor</th>
            <th md-column>Blog Post URL</th>
            <th md-column class="note-button">Notes</th>
            <th md-column>Actions</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="order" md-select-id="name" md-auto-select
              ng-repeat="order in ctrl.orders"
              ng-class="{old: ctrl.gettingOld(order.ad.approved_date)}">
            <td md-cell>{{ order.ad.approved_date | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ order.advertiser.email }}</td>
            <td md-cell>{{ order.publisher.email }}</td>
            <td md-cell>{{ order.url.href }}</td>
            <td md-cell>{{ order.url.price | currency:"$":0 }}</td>
            <td md-cell>{{ order.url.shown_price | currency:"$":0 }}</td>
            <td md-cell>
              <div layout="column" layout-align="space-between left">
                <span>{{ order.ad.link.href }}</span>
                <span>{{ order.ad.link_text }}</span>
              </div>
            </td>
            <td md-cell>
              <a ng-if="order.ad.full_pub_url" href="{{ order.ad.full_pub_url }}" target="_blank">
                Click Here
              </a>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="ctrl.showMessages($event, order)">
                <md-icon ng-class="{colored: order.ad.comments.length > 0}">note</md-icon>
              </md-button>
            </td>
            <td md-cell>
              <md-select class="underline"
                         ng-model="order.action"
                         name="action"
                         placeholder="Please Select"
                         ng-change="ctrl.handleActionSelection($event, order, order.action)">
                <md-option ng-repeat="action in order.actions" value="{{ action.payload }}">
                  {{ action.label }}
                </md-option>
              </md-select>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getOrders" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
