<%= javascript_tag do %>
   window.transactions = `<%= raw @transactions %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <!-- Title & search bar -->
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" class="adv-orders-search-bar" layout-align="start center">
        <h2>Advertisers Orders</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <md-datepicker flex ng-model="ctrl.query.dateFrom" md-placeholder="Date from"
           class="md-input no-focus raised-input search-input" md-open-on-focus md-current-view="month">
          </md-datepicker>
          <md-datepicker flex ng-model="ctrl.query.dateTo" md-placeholder="Date to"
            class="md-input no-focus raised-input search-input" md-open-on-focus md-current-view="month">
          </md-datepicker>
          <input flex ng-model="ctrl.query.filter" class="md-input no-focus raised-input search-input"
            placeholder="Search..." ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <!-- List of orders -->
    <md-expansion-panel class="adv-orders-panel" ng-repeat="transaction in ctrl.transactions" ng-if="transaction.orders.length > 0">
      <md-expansion-panel-collapsed>
        <div class="md-summary">
          <span class="title">Date Ordered</span>
          {{ transaction.created_at | date:'MM-dd-yyyy' }}
        </div>
        <div class="md-summary">
          <span class="title">Name</span>
          {{ transaction.payer.full_name }}
        </div>
        <div class="md-summary">
          <span class="title">Email</span>
          <a href="/admin/advertisers/{{transaction.orders[0].advertiser.id}}">{{ transaction.payer.email }}</a>
        </div>
        <div class="md-summary">
          <span class="title"># of URLs</span>
          {{ transaction.orders.length }}
        </div>
        <div class="md-summary">
          <span class="title">Total</span>
          {{ (transaction.amount_submitted || transaction.amount) | currency:"$":0 }}
        </div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-collapsed>

      <md-expansion-panel-expanded>
        <md-expansion-panel-header ng-click="$panel.collapse()">
          <div class="md-summary">
            <span class="title">Date Ordered</span>
            {{ transaction.created_at | date:'MM-dd-yyyy' }}
          </div>
          <div class="md-summary">
            <span class="title">Name</span>
            {{ transaction.payer.full_name }}
          </div>
          <div class="md-summary">
            <span class="title">Email</span>
            <a href="/admin/advertisers/{{transaction.orders[0].advertiser.id}}">{{ transaction.payer.email }}</a>
          </div>
          <div class="md-summary">
            <span class="title"># of URLs</span>
            {{ transaction.orders.length }}
          </div>
          <div class="md-summary">
            <span class="title">Total</span>
            {{ (transaction.amount_submitted || transaction.amount) | currency:"$":0 }}
          </div>
          <md-expansion-panel-icon></md-expansion-panel-icon>
        </md-expansion-panel-header>

        <md-expansion-panel-content>
          <md-table-container>
            <table md-table="md-table" md-row-select="md-row-select" multiple="multiple">
              <thead md-head="md-head">
                <tr md-row="md-row">
                  <th md-column="md-column">Campaign</th>
                  <th md-column="md-column">Publishers Email</th>
                  <th md-column="md-column">Live Blog Post</th>
                  <th md-column="md-column">Destination URL</th>
                  <th md-column="md-column">Anchor</th>
                  <th md-column="md-column">Price</th>
                </tr>
              </thead>
              <tbody md-body="md-body">
                <tr md-row="md-row" md-select-id="name" md-auto-select ng-repeat="order in transaction.orders">
                  <td md-cell>{{ order.ad.campaign.name }}</td>
                  <td md-cell><a href="/admin/publishers/{{ order.url.publisher.id }}">{{ order.url.publisher.email }}</a></td>
                  <td md-cell><a href="{{order.ad.full_pub_url}}">{{ order.ad.full_pub_url }}</a></td>
                  <td md-cell>{{ order.ad.link.href }}</td>
                  <td md-cell>{{ order.ad.link_text }}</td>
                  <td md-cell>{{ order.url.shown_price | currency:"$":0 }}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </md-expansion-panel-content>

        <md-expansion-panel-footer>
          <div flex></div>
          <md-button class="md-warn" ng-click="$panel.collapse()">Hide</md-button>
        </md-expansion-panel-footer>
      </md-expansion-panel-expanded>
    </md-expansion-panel>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[50, 100]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getUrls" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
