<%= javascript_tag do %>
   window.urls = `<%= raw @urls %>`;
   window.results = `<%= @results %>`;
<% end %>

<!-- URL selection card -->
<md-card ng-if="ctrl.showUrlsTable">
  <md-card-content>

    <!-- Title & search bar -->
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Re Assign Pub URL</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <!-- Results table -->
    <md-table-container class="urls-table">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head">
          <tr md-row="md-row">
            <th md-column="md-column">Pub Email</th>
            <th md-column="md-column">User Type</th>
            <th md-column="md-column">Url</th>
            <th md-column="md-column">Pub Inputed</th>
            <th md-column="md-column">Adv Price</th>
            <th md-column="md-column">DA</th>
            <th md-column="md-column">TF</th>
            <th md-column="md-column">DR</th>
            <th md-column="md-column">Action</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="url" md-select-id="name" md-auto-select ng-repeat="url in ctrl.urls">
            <td md-cell>{{ url.profile.publisher.email }}</td>
            <td md-cell>{{ url.profile.profile_type | uppercase }}</td>
            <td md-cell>{{ url.href }}</td>
            <td md-cell class="small-padding">{{ url.price | currency:"$":0 }}</td>
            <td md-cell class="small-padding editable" ng-click="ctrl.editShownPrice($event, url)">{{ url.shown_price | currency:"$":0 }}</td>
            <td md-cell class="small-padding">{{ url.domain_authority }}</td>
            <td md-cell class="small-padding">{{ url.trust_flow }}</td>
            <td md-cell class="small-padding">{{ url.ahrefs_dr }}</td>
            <td md-cell>
              <md-button class="md-warn md-mini" aria-label="Reassign" ng-click="ctrl.reAssign($event, url)">Re Assign</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getUrls" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>

<!-- URL update form -->
<form name="pubReassignForm" ng-if="!ctrl.showUrlsTable" ng-cloak>

  <!-- URL info card -->
  <md-card>
    <md-card-content>

      <!-- Title -->
      <div layout="row" layout-align="space-between center" flex>
        <div layout="row" layout-align="start center">
          <h2>Re Assign Pub URL</h2>
        </div>
      </div>

      <!-- URL row -->
      <div layout="row" flex>
        <md-input-container flex>
          <label>URL</label>
          <input ng-model="ctrl.urlToReassign.href" name="url" type="text" disabled>
        </md-input-container>
      </div>

      <!-- Current publisher & profile row -->
      <div layout="row" flex>
        <md-input-container flex>
          <label>Current Publisher</label>
          <input ng-model="ctrl.urlToReassign.profile.publisher.email" name="pubEmail" type="text" disabled>
        </md-input-container>
        <md-input-container flex>
          <label>Current Profile</label>
          <input ng-model="ctrl.urlToReassign.profile.name" name="profileName" type="text" disabled>
        </md-input-container>
      </div>

      <!-- DA & TF & DR row -->
      <div layout="row" flex>
        <md-input-container flex>
          <label>Domain Authority</label>
          <input ng-model="ctrl.urlToReassign.domain_authority" name="da" type="text" disabled>
        </md-input-container>
        <md-input-container flex>
          <label>Trust Flow</label>
          <input ng-model="ctrl.urlToReassign.trust_flow" name="tf" type="text" disabled>
        </md-input-container>
        <md-input-container flex>
          <label>Domain Rating</label>
          <input ng-model="ctrl.urlToReassign.ahrefs_dr" name="dr" type="text" disabled>
        </md-input-container>
      </div>

      <!-- Pub & Adv price row -->
      <div layout="row" flex>
        <md-input-container flex>
          <label>Pub Inputed Price</label>
          <input ng-required="true" ng-model="ctrl.urlToReassign.price" name="pubPrice" type="number" min="0">
          <div ng-messages="pubReassignForm.pubPrice.$error" md-auto-hide="true">
            <div ng-message="min">Can't be less than 0.</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Adv Price</label>
          <input ng-required="true" ng-model="ctrl.urlToReassign.shown_price" name="advPrice" type="number" min="0">
          <div ng-messages="pubReassignForm.advPrice.$error" md-auto-hide="true">
            <div ng-message="min">Can't be less than 0.</div>
          </div>
        </md-input-container>
      </div>
      <br />

      <!-- Update publisher section -->
      <!-- Title & search input -->
      <div layout="row" layout-align="space-between center" flex>
        <div layout="row" layout-align="start center">
          <h3>Change publisher</h3>
          <div layout="row" layout-align="end center" flex class="raised-input-container">
            <input flex ng-model="ctrl.pubSearchCriteria"
                   class="md-input no-focus raised-input search-input" placeholder="Search..."
                   ng-keydown="$event.keyCode === 13 && ctrl.searchPubs()">
            <md-button class="md-raised" aria-label="search" ng-click="ctrl.searchPubs()">search</md-button>
          </div>
        </div>
      </div>

      <!-- Search results table -->
      <md-table-container class="urls-table" ng-if="ctrl.publishers.length > 0 && !ctrl.publisherSelected()">
        <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
          <thead md-head="md-head">
            <tr md-row="md-row">
              <th md-column="md-column">Name</th>
              <th md-column="md-column">Pub Email</th>
              <th md-column="md-column">Profile</th>
              <th md-column="md-column">Action</th>
            </tr>
          </thead>
          <tbody md-body="md-body">
            <tr md-row="md-row" md-select="url" md-select-id="name" md-auto-select ng-repeat="pub in ctrl.publishers" ng-if="pub.profiles.length > 0">
              <td md-cell>{{ pub.full_name }}</td>
              <td md-cell>{{ pub.email }}</td>
              <td md-cell>
                <md-input-container class="md-block">
                  <label>Profile</label>
                  <md-select class="underline" name="profile"
                    placeholder="Select profile" ng-model="ctrl.newProfile"
                    ng-change="ctrl.selectedProfileChanged($index)">
                    <md-option ng-repeat="profile in pub.profiles" value="{{ profile }}"
                      ng-click="ctrl.profileChosen(profile)">
                      {{ profile.name }}
                    </md-option>
                  </md-select>
                </md-input-container>
              </td>
              <td md-cell>
                <md-button class="md-warn md-mini" aria-label="Select" ng-click="ctrl.selectPub($event, pub)" ng-disabled="ctrl.rowOfSelectedProfile != $index">Select</md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <div layout="row" flex ng-if="ctrl.publisherSelected()">
        <md-input-container flex>
          <label>New Publisher</label>
          <input ng-model="ctrl.newPublisher.email" name="newPub" type="text" disabled>
        </md-input-container>
        <md-input-container flex>
          <label>New Profile</label>
          <input ng-model="ctrl.selectedProfile.name" name="newProfile" type="text" disabled>
        </md-input-container>
      </div>

      <div layout="row" layout-align="end center" flex>
        <md-button class="md-raised md-warn" aria-label="reassign url" ng-disabled="pubReassignForm.$invalid || pubReassignForm.$pristine" ng-click="ctrl.update($event)">
          Save
        </md-button>
      </div>
    </md-card-content>
  </md-card>
</form>
