<%= javascript_tag do %>
   window.advertisers = `<%= raw @advertisers %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Advertisers Accounts</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.advertisers < 1">No results found</h3>
    </div>

    <md-table-container class="advertisers-table" ng-if="ctrl.advertisers.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column="md-column">Created Date</th>
            <th md-column="md-column">Email</th>
            <th md-column="md-column">Full Name</th>
            <th md-column="md-column">Agent Email</th>
            <th md-column="md-column">Terminate Account</th>
            <th md-column="md-column">Account' state</th>
            <th md-column="md-column">Confirmed?</th>
            <th md-column="md-column">Go To Account</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="advertiser" md-select-id="name" md-auto-select ng-repeat="advertiser in ctrl.advertisers">
            <td md-cell>{{ advertiser.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ advertiser.email }}</td>
            <td md-cell>{{ advertiser.user.first_name }}
              {{ advertiser.user.last_name }}</td>
            <td md-cell>{{ advertiser.agent.email }}<center ng-if="!advertiser.agent.email">&mdash;</center></td>
            <td md-cell ng-if="!ctrl.isTerminated(advertiser)">
              <md-button class="md-warn md-mini" aria-label="terminate"
                         ng-click="ctrl.showConfirmWithNotes($event, advertiser)">Terminate</md-button>
            </td>
            <td md-cell ng-if="ctrl.isTerminated(advertiser)">
              <md-button class="md-warn md-mini" aria-label="activate"
                         ng-click="ctrl.reActivate($event, advertiser)">Activate</md-button>
            </td>
            <td md-cell="state-cell">
              <md-chips>
                <md-chip ng-class="advertiser.state">{{ advertiser.state }}</md-chip>
              </md-chips>
            </td>
            <td md-cell>
              <md-checkbox aria-label="confirmed checkbox" ng-disabled="advertiser.confirmed"
                           ng-model="advertiser.confirmed" ng-change="ctrl.toggleConfirm($event, advertiser)">
              </md-checkbox>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" aria-label="go" href="/admin/advertisers/{{advertiser.id}}">
                <md-icon>launch</md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="<%= @results %>" md-on-paginate="ctrl.getAdvertisers" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
