<%= javascript_tag do %>
  window.advertiser = `<%= raw @advertiser %>`;
  window.categories = `<%= raw @categories.to_json %>`;
  window.agents = `<%= raw @agents.to_json %>`;
  window.messages = `<%= raw @messages.to_json %>`;
  window.active_content = `<%= raw @active_content %>`;
  window.redirect_url = `<%= @redirect_url %>`;
<% end %>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline"><strong>Advertiser: </strong>{{ ctrl.advertiser.user.email }}</span>
      <div layout="row" layout-align="start">
        <md-select ng-model="selectedAgent" aria-label="agents" ng-change="ctrl.showAgentConfirm($event, selectOpened)"
              md-on-open="selectOpened = true"
              md-on-close="selectOpened = false">
          <md-option ng-selected="ctrl.advertiser.agent_id === null" ng-value="noAgent">No agent</md-option>
          <md-option ng-repeat="agent in ctrl.agents" ng-value="agent" ng-selected="agent.id == ctrl.advertiser.agent.id">
              {{ agent.first_name }} {{ agent.last_name }}
          </md-option>
        </md-select>
      </div>
    </md-card-title-text>
    <div layout="row" layout-align="end start">
      <md-button class="md-raised" href="/admin/advertisers" aria-label="index">Back</md-button>

      <div layout="column">
        <md-button class="md-raised md-warn" aria-label="become"
                   ng-click="ctrl.becomeAdvertiser()">Become Advertiser
        </md-button>
        <md-button class="md-raised md-accent" aria-label="new campaign"
                   ng-click="ctrl.createCampaign($event)">Create campaign
        </md-button>
      </div>
      <div layout="column">
        <md-button class="md-raised md-warn" aria-label="update password"
                   ng-click="ctrl.showUpdatePassword($event)">Change password
        </md-button>
        <md-button class="md-raised md-warn" aria-label="update password"
                   ng-disabled="!ctrl.advertiser.active_content_spreadsheet_doc"
                   ng-click="ctrl.downloadReport()">Download Report
        </md-button>
      </div>
    </div>
  </md-card-title>
  <br>
  <md-card-content>
    <div class="content">
      <form name="advertiserForm">
        <div layout="row" flex>
          <md-input-container flex>
            <label>First name</label>
            <input name="firstName" ng-model="ctrl.advertiser.user.first_name">
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input name="lastName" ng-model="ctrl.advertiser.user.last_name">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Email</label>
            <input name="email" ng-model="ctrl.advertiser.user.email" ng-blur="ctrl.checkEmail(advertiserForm)"
              ng-pattern="/^.+@.+\..+$/" ng-required="true">
            <div ng-messages="advertiserForm.email.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
              <div ng-message="required">This is required.</div>
              <div ng-message="emailtaken">This email has already been taken.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Phone</label>
            <input name="phone" ng-model="ctrl.advertiser.user.phone">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Company</label>
            <input name="company" ng-model="ctrl.advertiser.user.company">
          </md-input-container>
          <md-input-container flex>
            <label>State</label>
            <input name="state" ng-model="ctrl.advertiser.user.state">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Country</label>
            <input name="country" ng-model="ctrl.advertiser.user.country">
          </md-input-container>
          <md-input-container flex>
            <label>City</label>
            <input name="city" ng-model="ctrl.advertiser.user.city">
          </md-input-container>
        </div>

        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-if="advertiserForm.$dirty" class="md-raised md-warn" ng-disabled="!advertiserForm.$valid"
                     ng-click="ctrl.showConfirm($event, advertiserForm, ctrl.advertiser.user)" aria-label="update">Save changes
          </md-button>
        </md-card-actions>
      </form>
    </div>
  </md-card-content>
</md-card>

<md-card class="no-padding">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{ ctrl.getMessagesLabel() }}">
      <md-content class="md-padding">
        <div ng-if="ctrl.advertiser.messages.length < 1" layout="row"
          layout-align="center center">
          <h3>No messages</h3>
        </div>
        <div ng-repeat="message in ctrl.advertiser.messages" >
          <md-expansion-panel class="message-panel" md-component-id="messagesPanel">
            <md-expansion-panel-collapsed>
              <div class="md-title">{{ message.created_at | date:'MM-dd-yyyy' }}</div>
              <div class="md-summary">{{ ctrl.decodeMessage(message.subject) }}</div>
              <md-expansion-panel-icon></md-expansion-panel-icon>
            </md-expansion-panel-collapsed>
              <form name="messageForm">
                <md-expansion-panel-expanded>
                  <md-expansion-panel-header ng-click="$panel.collapse()">
                    <div class="md-title">{{ message.created_at | date:'MM-dd-yyyy' }}</div>
                    <div class="md-summary">{{ ctrl.decodeMessage(message.subject) }}</div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                  </md-expansion-panel-header>
                  <md-expansion-panel-content>
                    <h4>Question</h4>
                    <p>{{ ctrl.decodeMessage(message.question_message) }}</p>
                    <h4 ng-if="message.reply_message">Response</h4>
                    <p ng-if="message.reply_message">{{ ctrl.decodeMessage(message.reply_message) }}</p>
                    <br>
                    <md-input-container class="md-block" flex ng-if="!message.reply_message">
                      <label>Write your reply here</label>
                      <input type="text" ng-model="message.response">
                    </md-input-container>
                  </md-expansion-panel-content>
                  <md-expansion-panel-footer ng-if="message.response && messageForm.$dirty">
                    <div flex></div>
                    <md-button class="md-raised md-warn" aria-label="reply message"
                               ng-click="ctrl.repliedMessage(message, messageForm)">Reply
                    </md-button>
                  </md-expansion-panel-footer>
              </form>
            </md-expansion-panel-expanded>
          </md-expansion-panel>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="{{ ctrl.getCampaignsLabel() }}">
      <md-content class="md-padding">
        <div ng-if="ctrl.advertiser.campaigns.length < 1" layout="row"
          layout-align="center center">
          <h3>No campaigns</h3>
        </div>
        <md-table-container class="campaigns-table" ng-if="ctrl.advertiser.campaigns.length > 0">
          <table md-table="md-table" md-row-select="md-row-select" multiple="multiple">
            <thead md-head="md-head" md-order="ctrl.query.order">
              <tr md-row="md-row">
                <th md-column="md-column">Date</th>
                <th md-column="md-column">Adv name</th>
                <th md-column="md-column">Adv Email</th>
                <th md-column="md-column">Campaign's name</th>
                <th md-column="md-column">Campaign's URL</th>
                <th md-column="md-column">Change State</th>
                <th md-column="md-column">State</th>
                <th md-column="md-column">Categories</th>
                <th md-column="md-column">Download Report</th>
              </tr>
            </thead>
            <tbody md-body="md-body">
              <tr md-row="md-row" md-select="campaign" md-select-id="name" md-auto-select ng-repeat="campaign in ctrl.advertiser.campaigns">
                <td md-cell>{{ campaign.created_at | date:'MM-dd-yyyy' }}</td>
                <td md-cell>{{ ctrl.advertiser.user.first_name }} {{ ctrl.advertiser.user.last_name }}</td>
                <td md-cell>{{ ctrl.advertiser.user.email }}</td>
                <td md-cell>{{ campaign.name }}</td>
                <td md-cell>{{ campaign.first_created_link.href }}</td>
                <td md-cell ng-if="!ctrl.pendingCampaign(campaign)">
                  <md-button class="md-warn md-mini" aria-label="activate"
                             ng-if="!ctrl.activeCampaign(campaign)"
                             ng-click="ctrl.requestStateChangeConfirmation($event, campaign)">Approve</md-button>
                  <md-button class="md-warn md-mini" aria-label="reject"
                             ng-if="ctrl.activeCampaign(campaign)"
                             ng-click="ctrl.requestStateChangeConfirmation($event, campaign)">Decline</md-button>
                </td>
                <td md-cell ng-if="ctrl.pendingCampaign(campaign)"></td>
                <td md-cell>
                  <md-chips>
                    <md-chip ng-class="{{campaign.state}}">{{ campaign.state }}</md-chip>
                  </md-chips>
                </td>
                <td md-cell>
                  <md-button class="md-icon-button flag" ng-click="ctrl.showCategories($event, campaign)">
                    <md-icon>flag</md-icon>
                  </md-button>
                </td>
                <td md-cell="md-cell">
                  <md-button class="md-icon-button" aria-label="download"
                             ng-class="{ 'downloadable': campaign.campaign_report_spreadsheet_doc }"
                             ng-click="ctrl.downloadCampaignReport(campaign)"
                             ng-disabled="!campaign.campaign_report_spreadsheet_doc">
                    <md-icon>file_download</md-icon>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-content>
    </md-tab>
    <md-tab label="{{ ctrl.getActiveContentLabel() }}">
      <md-content class="md-padding">
        <div ng-if="ctrl.active_content.length < 1" layout="row"
          layout-align="center center">
          <h3>No Active content</h3>
        </div>
        <md-table-container class="ads-table" ng-if="ctrl.active_content.length > 0">
          <table md-table="md-table" md-row-select="md-row-select" multiple="multiple">
            <thead md-head="md-head" md-order="ctrl.query.order">
              <tr md-row="md-row">
                <th md-column="md-column">Date Published</th>
                <th md-column="md-column">Publisher</th>
                <th md-column="md-column">DA</th>
                <th md-column="md-column">TF</th>
                <th md-column="md-column">Price</th>
                <th md-column="md-column">Live URL</th>
                <th md-column="md-column">Destination URL</th>
                <th md-column="md-column">Anchor</th>
              </tr>
            </thead>
            <tbody md-body="md-body">
              <tr md-row="md-row" md-select="ad" md-select-id="name" md-auto-select ng-repeat="ad in ctrl.active_content">
                <td md-cell="md-cell">{{ ad.approved_date | date:'MM-dd-yyyy' }}</td>
                <td md-cell="md-cell">{{ ad.url.publisher_email }}</td>
                <td md-cell="md-cell">{{ ad.url.domain_authority }}</td>
                <td md-cell="md-cell">{{ ad.url.trust_flow }}</td>
                <td md-cell="md-cell">{{ ad.url.shown_price | currency:"$":0  }}</td>
                <td md-cell="md-cell">
                  <a href="{{ ad.full_pub_url }}" target="_blank" ng-if="ad.full_pub_url">
                    {{ ad.full_pub_url }}
                  </a>
                  <span ng-if="!ad.full_pub_url">Not set yet</span>
                </td>
                <td md-cell="md-cell">
                  <a href="{{ ad.url.href }}" target="_blank" ng-if="ad.url.href">
                    {{ ad.url.href }}
                  </a>
                  <span ng-if="!ad.url.href">Not set yet</span>
                </td>
                <td md-cell="md-cell">{{ ad.link_text }}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-content>
    </md-tab>
  </md-tabs>
</md-card>
