<%= javascript_tag do %>
   window.campaigns = `<%= raw @campaigns %>`;
   window.results = `<%= @results %>`;
   window.categories = `<%= raw @categories.to_json %>`;
<% end %>
<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Campaigns</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.campaigns < 1">No results found</h3>
    </div>

    <md-table-container class="campaigns-table" ng-if="ctrl.campaigns.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column="md-column">Date</th>
            <th md-column="md-column">Adv name</th>
            <th md-column="md-column">Adv Email</th>
            <th md-column="md-column">Campaign's URL</th>
            <th md-column="md-column">Categories</th>
            <th md-column="md-column action">Actions</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="campaign" md-select-id="name" md-auto-select ng-repeat="campaign in ctrl.campaigns | orderBy: ctrl.query.order">
            <td md-cell="md-cell">{{ campaign.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell="md-cell">{{ campaign.advertiser.user.first_name }} {{ campaign.advertiser.user.last_name }}</td>
            <td md-cell="md-cell">{{ campaign.advertiser.user.email }}</td>
            <td md-cell="md-cell">{{ campaign.first_created_link.href }}</td>
            <td md-cell="md-cell">
              <md-button class="md-icon-button flag" ng-click="ctrl.showCategories($event, campaign)">
                <md-icon>flag</md-icon>
              </md-button>
            </td>
            <td md-cell="md-cell">
              <md-button class="md-primary md-mini md-raised" aria-label="approve"
                         ng-click="ctrl.approve($event, campaign)">Approve</md-button>
              <md-button class="md-warn md-mini md-raised" aria-label="decline"
                         ng-click="ctrl.decline($event, campaign)">Decline</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getCampaigns" md-page-select></md-table-pagination>

  </md-card-content>
</md-card>
