<%= javascript_tag do %>
   window.adminUsers = `<%= raw @admin_users %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <h2>Admin Accounts</h2>
      <md-button class="md-raised md-warn" aria-label="new admin" ng-click="ctrl.promptNewAdmin($event)">
        New Admin
      </md-button>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.adminUsers < 1">No results found</h3>
    </div>

    <md-table-container ng-if="ctrl.adminUsers.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column="md-column">Email</th>
            <th md-column="md-column">Full Name</th>
            <th md-column="md-column">Phone</th>
            <th md-column="md-column">Confirmed?</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="admin" md-select-id="name"
              md-auto-select="md-auto-select" ng-repeat="admin in ctrl.adminUsers">
            <td md-cell="md-cell">{{ admin.email }}</td>
            <td md-cell="md-cell">{{ admin.first_name }} {{ admin.last_name }}</td>
            <td md-cell="md-cell">{{ admin.phone }}</td>
            <td md-cell="md-cell">
              <md-checkbox ng-disabled="true" aria-label="confirmed checkbox" ng-model="admin.confirmed">
              </md-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
    <md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]"
                         md-page="ctrl.query.page" md-total="<%= @results %>"
                         md-on-paginate="ctrl.getAdminUsers" md-page-select>
    </md-table-pagination>
  </md-card-content>
</md-card>
