<%= javascript_tag do %>
   window.publishers = `<%= raw @publishers %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Publishers Accounts</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.publishers < 1">No results found</h3>
    </div>

    <md-table-container class="publishers-table" ng-if="ctrl.publishers.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column>Created Date</th>
            <th md-column>Email</th>
            <th md-column>Full Name</th>
            <th md-column>Terminate Account</th>
            <th md-column>Account' state</th>
            <th md-column>Confirmed?</th>
            <th md-column>Go To Account</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="publisher" md-select-id="name" md-auto-select ng-repeat="publisher in ctrl.publishers">
            <td md-cell>{{ publisher.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ publisher.email }}</td>
            <td md-cell>{{ publisher.full_name}}</td>
            <td md-cell ng-if="!ctrl.isTerminated(publisher)">
              <md-button class="md-warn md-mini" aria-label="terminate"
                         ng-click="ctrl.showConfirmWithNotes($event, publisher)">Terminate</md-button>
            </td>
            <td md-cell ng-if="ctrl.isTerminated(publisher)">
              <md-button class="md-warn md-mini" aria-label="activate"
                         ng-click="ctrl.reActivate($event, publisher)">Activate</md-button>
            </td>
            <td md-cell="state-cell">
              <md-chips>
                <md-chip ng-class="publisher.state">{{ publisher.state }}</md-chip>
              </md-chips>
            </td>
            <td md-cell>
              <md-checkbox aria-label="confirmed checkbox" ng-disabled="publisher.confirmed"
                           ng-model="publisher.confirmed" ng-change="ctrl.toggleConfirm($event, publisher)">
              </md-checkbox>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" aria-label="go" href="/admin/publishers/{{publisher.id}}">
                <md-icon>launch</md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="<%= @results %>" md-on-paginate="ctrl.getPublishers" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
