<%= javascript_tag do %>
  window.publisher = `<%= raw @publisher %>`;
  window.messages = `<%= raw @messages.to_json %>`;
  window.categories = `<%= raw @categories.to_json %>`;
  window.redirect_url = `<%= @redirect_url %>`;
<% end %>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline"><strong>Publisher: </strong>{{ ctrl.publisher.user.email }}</span>
      <span flex></span>
    </md-card-title-text>
    <div layout="row" layout-align="end start">
      <md-button class="md-raised" href="/admin/publishers" aria-label="index">Back</md-button>
      <md-button class="md-raised md-warn" aria-label="become"
                 ng-click="ctrl.becomePublisher()">Become Publisher</md-button>
      <div layout="column">
        <md-button class="md-raised md-warn" aria-label="update password"
                   ng-click="ctrl.showUpdatePassword($event)">Change password
        </md-button>
        <md-button class="md-raised md-warn" aria-label="update password"
                   ng-disabled="!ctrl.publisher.active_content_spreadsheet_doc"
                   ng-click="ctrl.downloadReport()">Download Report
        </md-button>
      </div>
    </div>
  </md-card-title>
  <br>
  <md-card-content>
    <div class="content">
      <form name="publisherForm">
        <div layout="row" flex>
          <md-input-container flex>
            <label>First name</label>
            <input name="firstName" ng-model="ctrl.publisher.user.first_name">
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input name="lastName" ng-model="ctrl.publisher.user.last_name">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Email</label>
            <input name="email" ng-model="ctrl.publisher.user.email" ng-blur="ctrl.checkEmail(publisherForm)"
              ng-pattern="/^.+@.+\..+$/" ng-required="true">
            <div ng-messages="publisherForm.email.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
              <div ng-message="required">This is required.</div>
              <div ng-message="emailtaken">This email has already been taken.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>PayPal email</label>
            <input name="paypal_email" ng-model="ctrl.publisher.user.paypal_email"
             ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="publisherForm.paypal_email.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Address Line 1</label>
            <input name="address" ng-model="ctrl.publisher.user.address_line_1">
          </md-input-container>
          <md-input-container flex>
            <label>Address Line 2</label>
            <input name="address" ng-model="ctrl.publisher.user.address_line_2">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>City</label>
            <input name="address" ng-model="ctrl.publisher.user.city">
          </md-input-container>
          <md-input-container flex>
            <label>State</label>
            <input name="address" ng-model="ctrl.publisher.user.state">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Phone</label>
            <input name="phone" ng-model="ctrl.publisher.user.phone">
          </md-input-container>
          <md-input-container flex>
            <label>Zip Code</label>
            <input name="address" ng-model="ctrl.publisher.user.zip_code">
          </md-input-container>
        </div>

        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-if="publisherForm.$dirty" class="md-raised md-warn" ng-disabled="!publisherForm.$valid"
                     ng-click="ctrl.showConfirm($event, publisherForm, ctrl.publisher.user)" aria-label="update">Save changes
          </md-button>
        </md-card-actions>
      </form>
    </div>
  </md-card-content>
</md-card>

<md-card class="no-padding">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{ ctrl.getMessagesLabel() }}">
      <div md-padding layout="row" layout-align="center center" ng-if="ctrl.publisher.messages.length === 0">
        <h3>No messages</h3>
      </div>
      <div ng-repeat="message in ctrl.publisher.messages">
        <md-expansion-panel class="message-panel" md-component-id="messagesPanel">
          <md-expansion-panel-collapsed>
            <div class="md-title">{{ message.created_at | date:'MM-dd-yyyy' }}</div>
            <div class="md-summary">{{ ctrl.decodeMessage(message.subject) }}</div>
            <md-expansion-panel-icon></md-expansion-panel-icon>
          </md-expansion-panel-collapsed>

            <form name="messageForm">
              <md-expansion-panel-expanded>
                <md-expansion-panel-header ng-click="$panel.collapse()">
                  <div class="md-title">{{ message.created_at | date:'MM-dd-yyyy' }}</div>
                  <div class="md-summary">{{ ctrl.decodeMessage(message.subject) }}</div>
                  <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-header>
                <md-expansion-panel-content>
                  <h4>Question</h4>
                  <p>{{ ctrl.decodeMessage(message.question_message) }}</p>
                  <h4 ng-if="message.reply_message">Response</h4>
                  <p ng-if="message.reply_message">{{ ctrl.decodeMessage(message.reply_message) }}</p>
                  <br>
                  <md-input-container class="md-block" flex ng-if="!message.reply_message">
                    <label>Write your reply here</label>
                    <input type="text" ng-model="message.response">
                  </md-input-container>
                </md-expansion-panel-content>

                <md-expansion-panel-footer ng-if="message.response && messageForm.$dirty">
                  <div flex></div>
                  <md-button class="md-raised md-warn" aria-label="reply message"
                             ng-click="ctrl.repliedMessage(message, messageForm)">Reply
                  </md-button>
                </md-expansion-panel-footer>
              </md-expansion-panel-expanded>
            </form>
        </md-expansion-panel>
      </div>
    </md-tab>

    <md-tab label="{{ ctrl.getProfilesLabel() }}">
      <div ng-if="ctrl.publisher.profiles.length < 1" layout="row"
        layout-align="center center">
        <h3>No profiles</h3>
      </div>

      <md-content class="md-padding" ng-if="ctrl.publisher.profiles.length > 0">
        <md-table-container class="campaigns-table">
          <table md-table="md-table" md-row-select="md-row-select" multiple="multiple">
            <thead md-head="md-head" md-order="ctrl.query.order">
              <tr md-row>
                <th md-column>Date</th>
                <th md-column>Profile Name</th>
                <th md-column># of Ads</th>
                <th md-column># of URLs</th>
                <th md-column>Profile Type</th>
                <th md-column>Categories</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="profile" md-select-id="name" md-auto-select ng-repeat="profile in ctrl.publisher.profiles">
                <td md-cell>{{ profile.created_at | date:'MM-dd-yyyy' }}</td>
                <td md-cell>{{ profile.name }}</td>
                <td md-cell>{{ profile.total_ads }}</td>
                <td md-cell>{{ profile.total_sites }}</td>
                <td md-cell>{{ profile.profile_type | capitalize }}</td>
                <td md-cell>
                  <md-button class="md-icon-button flag" ng-click="ctrl.showCategories($event, profile)">
                    <md-icon>flag</md-icon>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-content>
    </md-tab>
  </md-tabs>
</md-card>
