<md-card ng-show="ctrl.showAdvNoCampaignTable" class="additional-urls">

  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <strong>ADVERTISERS WITHOUT A CAMPAIGN APPROVED</strong>
      </span>
    </md-card-title-text>
    <md-button class="md-raised" ng-click="ctrl.resetTables()">Back</md-button>
  </md-card-title>
  <md-card-content class="dashboard">
    <div layout="row" layout-align="space-between center" flex class="raised-input-container">
      <div layout="row" layout-align="start center">
        <md-input-container class="period-select">
          <md-select ng-model="selectedPeriod" placeholder="Select a period" ng-change="ctrl.filterAdvsByPeriod()">
            <md-option ng-value="period" ng-repeat="period in ctrl.days">{{ period.title }}</md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-raised md-warn" aria-label="Download" ng-click="ctrl.downloadAdvReport()">Download</md-button>
      </div>
      <div layout="row" layout-align="end">
        <input ng-model="ctrl.query.filter"
               class="md-input no-focus raised-input search-input" placeholder="Search..."
               ng-keydown="$event.keyCode === 13 && ctrl.filterAdvsByPeriod()">
        <md-button class="md-raised" aria-label="search" ng-click="ctrl.filterAdvsByPeriod()">search</md-button>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.avdsWithoutCamp.length < 1">No results found</h3>
    </div>

    <md-table-container class="advertisers-table" ng-if="ctrl.avdsWithoutCamp.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple"">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column="md-column">Created Date</th>
            <th md-column="md-column">First Name</th>
            <th md-column="md-column">Last Name</th>
            <th md-column="md-column">Adv Email</th>
            <th md-column="md-column">Assign Agent</th>
            <th md-column="md-column">Go To Account</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="adv" md-select-id="name" md-auto-select ng-repeat="adv in ctrl.avdsWithoutCamp">
            <td md-cell>{{ adv.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ adv.user.first_name }}</td>
            <td md-cell>{{ adv.user.last_name }}</td>
            <td md-cell>{{ adv.email }}</td>
            <td md-cell>
              <md-select ng-model="agents[adv.id]" aria-label="agents"
                  ng-model-options="{trackBy: '$value.id' }"
                  md-on-open="selectOpened = true"
                  md-on-close="selectOpened = false">
                <md-option ng-selected="adv.agent_id === null" ng-value="noAgent" ng-click="ctrl.showAgentConfirm($event, selectOpened, null, adv)">No agent</md-option>
                <md-option ng-repeat="agent in ctrl.agents" ng-value="agent" ng-selected="agent.id === adv.agent_id" ng-click="ctrl.showAgentConfirm($event, selectOpened, agent.id, adv)">
                  {{ agent.first_name }} {{ agent.last_name }}
                </md-option>
              </md-select>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" aria-label="go" href="/admin/advertisers/{{adv.id}}">
                <md-icon>launch</md-icon>
              </md-button>
            </td>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getAdvsNoCampaign" md-page-select></md-table-pagination>

  </md-card-content>
</md-card>
