<md-card ng-show="ctrl.showAgingAdvAccountsTable" class="additional-urls">
 <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <strong>AGING ADVERTISER ACCOUNTS</strong>
      </span>
      <span flex></span>
    </md-card-title-text>
    <div layout="row" layout-align="end start">
      <md-button class="md-raised" ng-click="ctrl.resetTables()">Back</md-button>
    </div>
  </md-card-title>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.searchAgingAdvertisers()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.searchAgingAdvertisers()">search</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.aging_advertisers.length < 1">No results found</h3>
    </div>

    <md-table-container class="advertisers-table" ng-if="ctrl.aging_advertisers.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column="md-column">Created Date</th>
            <th md-column="md-column">Email</th>
            <th md-column="md-column">Full Name</th>
            <th md-column="md-column">Account' state</th>
            <th md-column="md-column">Days since last order</th>
            <th md-column="md-column">Go To Account</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="advertiser" md-select-id="name" md-auto-select ng-repeat="advertiser in ctrl.aging_advertisers">
            <td md-cell>{{ advertiser.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ advertiser.email }}</td>
            <td md-cell>{{ advertiser.user.first_name }}
              {{ advertiser.user.last_name }}</td>
            <td md-cell="state-cell">
              <md-chips>
                <md-chip ng-class="advertiser.state">{{ advertiser.state }}</md-chip>
              </md-chips>
            </td>
            <td md-cell>{{ advertiser.days_last_order }}</td>
            <td md-cell>
              <md-button class="md-icon-button" aria-label="go" href="/admin/advertisers/{{advertiser.id}}">
                <md-icon>launch</md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getAgingAdvertisers" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
