<md-card ng-show="ctrl.showReportsMenu">
  <md-card-content class="dashboard">
    <div layout="row" layout-align="space-between center" flex>
      <h2>Welcome to the Admin Panel <strong><%= current_admin_user.full_name %></strong></h2>
    </div>
    <div layout="row" layout-align="center center" class="layout-align-center-center layout-row reportsMenu">
      <md-button class="md-raised md-primary" aria-label="adv no campaign" ng-click="ctrl.openAdvNoCampaignTable()">Adv No Campaign</md-button>
      <md-button class="md-raised md-primary" aria-label="aging adv accounts" ng-click="ctrl.openAgingAdvAccountsTable()">Aging Adv Accounts</md-button>
      <md-button class="md-raised md-primary" aria-label="sales / commission" ng-click="ctrl.openSalesTable()">Sales / Commission</md-button>
    </div>
    <div layout="row" layout-align="center center" class="layout-align-center-center layout-row reportsMenu">
      <md-button class="md-raised md-primary" aria-label="aging orders" ng-click="ctrl.openAgingOrdersTable()">Aging Orders</md-button>
      <notification-icon animation="shake" count="ctrl.lateOrdersResults" always-show="true">
        <i class="fa fa-envelope-o fa-3x"></i>
      </notification-icon>
      <md-button class="md-raised md-primary" aria-label="payouts due" ng-click="ctrl.openPayoutsTable()">Payouts Due</md-button>
      <notification-icon animation="shake" count="ctrl.payoutsResults" always-show="true">
        <i class="fa fa-envelope-o fa-3x"></i>
      </notification-icon>
      <md-button class="md-raised md-primary" aria-label="pub no profile" ng-click="ctrl.openPubNoProfileTable()">Pub No Profile</md-button>
    </div>
    <div layout="row" layout-align="start center" class="layout-row layout-align-center-center reportsMenu">
       <md-button class="md-raised md-primary" aria-label="pub no profile" ng-click="ctrl.openNewLeadTable()">New Lead</md-button>
       <notification-icon animation="shake" count="ctrl.accountsCount" always-show="true">
         <i class="fa fa-envelope-o fa-3x"></i>
       </notification-icon>
    </div>

  </md-card-content>
</md-card>
<br>
<%= render partial: 'adv_no_campaign' %>
<%= render partial: 'aging_adv_accounts' %>
<%= render partial: 'aging_orders.html' %>
<%= render partial: 'payouts_due.html' %>
<%= render partial: 'pub_no_profile.html' %>
<%= render partial: 'sales_commission' %>
<%= render partial: 'new_lead' %>
