<md-card ng-show="ctrl.showSalesTable" class="additional-urls">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <strong>SALES REVENUE</strong>
      </span>
      <span flex></span>
    </md-card-title-text>
    <div layout="row" layout-align="end start">
      <md-button class="md-raised" ng-click="ctrl.resetTables()">Back</md-button>
    </div>
  </md-card-title>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start" class="raised-input-container">
        <div flex-gt-xs>
          <md-datepicker ng-model="orderStartEta" ng-change="ctrl.filterSalesOrdersByDate()" md-max-date="orderEndEta" md-placeholder="Set ETA" md-hide-icon="'calendar'">
        </div>
        <div flex-gt-xs>
          <md-datepicker ng-model="orderEndEta" ng-change="ctrl.filterSalesOrdersByDate()" md-max-date="today" md-min-date="orderStartEta" md-placeholder="Set ETA" md-hide-icon="'calendar'">
        </div>
      </div>
      <div layout="row" layout-align="end" flex>
        Total Revenue:&nbsp;<strong id="payout-total">{{ ctrl.totalRevenue | currency:"$":0 }}</strong>
      </div>
      <md-button class="md-raised md-warn" aria-label="Download" ng-click="ctrl.downloadSalesOrders()">Download</md-button>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.sales_orders < 1">No results found</h3>
    </div>

    <md-table-container class="salesOrders-table" ng-if="ctrl.sales_orders.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple"">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column="md-column">Date Ordered</th>
            <th md-column="md-column">Agent Name</th>
            <th md-column="md-column">Adv Email</th>
            <th md-column="md-column">Number of Ads</th>
            <th md-column="md-column">Dollar Amount</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="order" md-select-id="name" md-auto-select ng-repeat="order in ctrl.sales_orders">
            <td md-cell>{{ order.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>{{ order.advertiser.agent.first_name }} {{ order.advertiser.agent.last_name }}<span ng-if="!order.advertiser.agent">&mdash;</span></td>
            <td md-cell>{{ order.advertiser.email }}</td>
            <td md-cell>{{ order.orders_count }}</td>
            <td md-cell>{{ order.total_charged }}</td>
          </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getSalesOrders" md-page-select></md-table-pagination>

  <md-card-content>
</md-card>
