<%= javascript_tag do %>
   window.ads = `<%= raw @ads %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <h2>Unresponsive Ads</h2>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.ads < 1">No results found</h3>
    </div>

    <md-table-container ng-if="ctrl.ads.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column>Date Ordered</th>
            <th md-column>Hours Left</th>
            <th md-column>Pub Email</th>
            <th md-column>Pub URL</th>
            <th md-column>Actions</th>
            <th md-column>Pause URL?</th>
            <th md-column>Actions</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row md-select="ad" md-select-id="name"
              md-auto-select="md-auto-select" ng-repeat="ad in ctrl.ads">
            <td md-cell>{{ ad.requested_date | date:'MM-dd-yyyy' }}</td>
            <td md-cell>
              <app-remaining-time started-at="ad.requested_date"></app-remaining-time>
            </td>
            <td md-cell ng-click="ctrl.sendEmail($event)">
              <span style="cursor: pointer;">{{ ad.url.publisher_email }}<span>
              </td>
            <td md-cell>{{ ad.url.href }}</td>
            <td md-cell class="ad-actions">
              <md-select class="underline"
                         ng-model="ad.action"
                         name="action"
                         placeholder="Please Select"
                         ng-change="ctrl.handleActionSelection($event, ad, ad.action)">
                <md-option ng-repeat="action in ad.actions" value="{{ action.payload }}">
                  {{ action.label }}
                </md-option>
              </md-select>
            </td>
            <td md-cell>
              <md-checkbox class="pausing-checkbox"
                           ng-true-value="'paused'"
                           ng-false-value="'active'"
                           ng-model="ad.url.state" aria-label="pause" ng-change="ctrl.togglePause($event, ad)"></md-checkbox>
            </td>
            <td>
              <md-button class="md-warn md-mini" aria-label="Remind publisher" ng-click="ctrl.remindPublisher(ad)">Remind</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]"
                         md-page="ctrl.query.page" md-total="{{ ctrl.results }}"
                         md-on-paginate="ctrl.getAds" md-page-select>
    </md-table-pagination>
  </md-card-content>
</md-card>
