md-dialog {
  &.md-default-theme {
    min-width: 20%;
  }

  &.password {
    div.md-dialog-content {
      min-width: 600px;
    }
  }

  &.new-admin, &.new-content, &.new-author, &.quick-email {
    min-width: 50%;
  }

  &.new-email {
    min-width: 50%;
  }

  &.new-email-template {
    min-width: 75%;
  }

  &.categories, &.new-campaign {
    min-width: 80%;
  }

  &.notes-content {
    min-width: 30%;
  }

  &.file-content {
    min-width: 30%;
  }

  &.description {
    min-width: 30%;
  }

  form {
    margin-bottom: 0;
  }

  md-dialog-content {
    div.md-dialog-content {
      div.quote-row {
        md-autocomplete:last-child {
          margin-left: 1.25rem;
        }
      }
    }
  }
}

.dr_slider {
  width: 60%;
  margin: auto;
}
