md-dialog.new-campaign {
  .categories-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40%;
    align-items: center;
    margin-top: 5rem;

    .no-padding {
      padding: 0;

      .category{
         min-width: 9rem;
      }
    }
  }
}
