@import 'colors';

app-sidenav {
  md-sidenav {
    height: 100%;
    width: $sidenav-width;

    md-toolbar {
      h1.md-toolbar-tools {
        color: $white;
      }
    }

    strong.notification {
      color: $accent;
    }
  }

  .md-sidemenu-wrapper {
    height: 0;
  }

  .md-sidemenu-wrapper.md-active {
    height: auto;
  }
}
