<%= javascript_tag do %>
   window.emails = `<%= raw @emails %>`;
   window.results = `<%= raw @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Emails</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
      <md-button class="md-raised md-warn" aria-label="new email" ng-click="ctrl.promptNewEmail($event)">
        New Email
      </md-button>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.emails < 1">No results found</h3>
    </div>

    <md-table-container ng-if="ctrl.emails.length > 0">
      <table md-table md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head md-order="ctrl.query.order" md-on-reorder="ctrl.search">
          <tr md-row>
            <th md-column md-order-by="name">Name</th>
            <th md-column md-order-by="receiver_type">To</th>
            <th md-column md-order-by="active">Active?</th>
            <th md-column md-order-by="created_at">Created at</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="email" md-select-id="name" md-auto-select ng-repeat="email in ctrl.emails">
            <td md-cell><a href="/admin/emails/{{ email.id }}">{{ email.name }}</a></td>
            <td md-cell>{{ email.receiver_type }}</td>
            <td md-cell>{{ email.active }}</td>
            <td md-cell>{{ email.created_at | date:'MM-dd-yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    <md-table-container>

    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[1, 10, 15, 20]" md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getEmails" md-page-select></md-table-pagination>

  </md-card-content>
</md-card>
