<%= javascript_tag do %>
  window.email = <%= raw @email %>;
  window.emailTemplates = <%= raw @email_templates %>;
  window.emailVars = <%= raw @email_vars ? @email_vars : 'null' %>;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <h2>{{ ctrl.email.name }}</h2>

      <md-button class="md-raised md-warn" aria-label="delete" ng-click="ctrl.destroy(ctrl.email.id, $event)">Delete</md-button>
    </div>

    <form name="emailForm">
      <div layout="row" flex>
        <md-input-container flex>
          <label>Name</label>
          <input ng-required="true" ng-model="ctrl.email.name" name="name" type="text">
          <div ng-messages="newEmailForm.name.$error" md-auto-hide="true">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex>
          <label>Receiver</label>
          <md-select ng-model="ctrl.email.receiver_type">
            <md-option ng-value="type" ng-repeat="type in ctrl.receiverTypes">{{ type }}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="row" flex>
        <md-input-container flex>
          <label>Slug</label>
          <input ng-required="true" ng-model="ctrl.email.slug" name="slug" type="text" placeholder="my_custom_slug">
          <div ng-messages="newEmailForm.slug.$error" md-auto-hide="true">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Redirect URL</label>
          <input ng-required="true" ng-model="ctrl.email.redirect_url" name="redirect_url" type="text" placeholder="http://example.com/{{variable}}/path">
          <div ng-messages="newEmailForm.redirect_url.$error" md-auto-hide="true">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row" flex>
        <md-input-container flex>
          <md-checkbox name="response_required" ng-model="ctrl.email.response_required" aria-label="Response Required?" ng-checked="ctrl.email.response_required">
            Response Required?
          </md-checkbox>
        </md-input-container>

        <md-input-container flex>
          <md-checkbox name="active" ng-model="ctrl.email.active" aria-label="Active?" ng-checked="ctrl.email.active">
            Email Active?
          </md-checkbox>
        </md-input-container>
      </div>

      <div layout="row" flex>
        <md-input-container flex>
          <label>Notes</label>
          <textarea ng-required="false" ng-model="ctrl.email.notes" name="notes" placeholder="Describe how this email works..." rows="3" cols="80"></textarea>
          <div ng-messages="newEmailForm.notes.$error" md-auto-hide="true">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>

      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-if="emailForm.$dirty" class="md-raised md-warn" ng-click="ctrl.update(emailForm)" aria-label="update">Save changes</md-button>
      </md-card-actions>
    </form>

  </md-card-content>
</md-card>

<md-card ng-if="ctrl.emailVars">
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <h2>Available Variables</h2>
    </div>

    <div class="md-chips">
      <md-chip ng-repeat="(var, desc) in ctrl.emailVars">
        <span>{{ </span>{{ var }}<span> }}</span>
        <md-tooltip md-direction="bottom">{{ desc }}</md-tooltip>
      </md-chip>
    </div>

  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <h2>Templates</h2>
      <md-button class="md-raised md-warn" aria-label="new email" ng-click="ctrl.promptNewEmailTemplate($event)">
        New Template
      </md-button>
    </div>

    <md-table-container>
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head">
          <tr md-row="md-row">
            <th md-column="md-column">Subject</th>
            <th md-column="md-column">When To Send</th>
            <th md-column="md-column">Active</th>
            <th md-column>Action</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-auto-select="md-auto-select" ng-repeat="tmpl in ctrl.emailTemplates">
            <td md-cell="md-cell">
              <a href="#" ng-click="ctrl.promptEditEmailTemplate($event, tmpl.id)">
                <span ng-if="tmpl.subject">{{ tmpl.subject }}</span>
                <span ng-if="!tmpl.subject">Edit - Subject Missing</span>
              </a>
            </td>
            <td md-cell="md-cell" ng-if="!tmpl.days_delayed">
              Same day
            </td>
            <td md-cell="md-cell" ng-if="tmpl.days_delayed">
              {{ tmpl.days_delayed }} days after
            </td>
            <td md-cell="md-cell">
              {{ tmpl.active }}
            </td>
            <td md-cell>
              <md-button class="md-raised md-mini md-accent" aria-label="delete template"
                         ng-click="ctrl.destroyTemplate(ctrl.email.id, tmpl.id, $event)">delete</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    <md-table-container>
  </md-card-content>
</md-card>
