$primary: #00659A;
$primary-text: #212121;
$primary-light: #B3E5FC;
$primary-dark: #024866;
$light-grey: #EFEFEF;
$light-grey-1: #E5E3E3;
$light-grey-2: #E1E1E1;
$dark-grey: #727272;
$accent: #FF6600;
$accent-dark: #F26000;
$icons: #FFFFFF;
$divider: #B6B6B6;
$error-red: #D50000;
$cancelled-red: #F44336;
$dashboard-background: #E8E8E8;
$category-background: #F0F0F0;
$input-dark-bottom: rgba($dark-grey, .6);
$dark-menu: #6B6B6B;
$dark-menu-selected: #585858;
$dark-text: #333333;
$black: #000000;
$white: #FFFFFF;
$orange-tabs: rgb(255,209,128);
$green: #A3E4C8;
$dark-green: #2DCA84;
$green-chip: #23AB57;
$blue-chip: #406EAD;
$blue-toolbar: rgb(16, 108, 200);
$skyblue-toolbar: rgb(170, 209, 249);
$light-skyblue-toolbar: #E3F2FD;
$violet-chip: #8D5097;
$hover-gray: #9E9E9E;
$dark-placeholder: rgba($dark-grey, .70);
$pink: #E91E63;
$pink-light: #F48FB1;
$highlighted-yellow: #FFE7A1;

// Specific for articles chips
$green-state-chip: #C8E6C9;
$blue-state-chip: #B3E5FC;
$red-state-chip: #FFCDD2;
$teal-state-chip: #B2DFDB;
$purple-state-chip: #D1C4E9;


// Override colors for active admin theme
$panelBorder: #BABDC5;
$skinActiveColor: $accent;
$bodyColor: rgba(236, 240, 241, .48);
$skinBlack: rgb(55, 71, 79);
$panelHeaderBck: $skinBlack;
$skinBlackLight: rgb(69, 90, 100);
$textGray: rgb(174, 179, 181);
$skinTextColor: #1E2A33;
$shadow: rgba(0,0,0,.26);
$dark-input: rgba(0,0,0,.40);
$skinTextActiveColor: white;
$skinTextTable: #7F8C8D;
$skinHeaderBck: #1E2A33;

// Constants
$sidenav-width: 14rem;
