<html>
  <head>
    <title>Scalefluence Admin</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  </head>
  <body ng-app="linktub">
    <% role = current_admin_user.author? ? 'author' : 'admin' %>
    <% current_user_id = current_admin_user.id %>
    <% if current_admin_user&.state == 'active' %>
      <div ng-controller="<%= controller_name.capitalize.camelize %>Controller as ctrl" ng-cloak="ng-cloak" ng-init="$root.authenticity_token = '<%= form_authenticity_token %>'">
        <md-progress-linear md-mode="indeterminate" md-whiteframe="3" ng-show="$root.isLoading"></md-progress-linear>
        <section class="content" layout="row" flex="flex">
          <app-sidenav admin-role="<%= role %>" user-id="<%= current_user_id %>"></app-sidenav>
          <md-content flex="flex" class="root">
            <app-toolbar name="<%= current_admin_user.full_name %>" user-id="<%= current_admin_user.id %>"></app-toolbar>
            <md-content class="render" layout-padding="layout-padding">
              <%= render partial: action_name %>
            </md-content>
          </md-content>
        </section>
      </div>
    <% else %>
      <md-card class="terminated">
        <md-content>
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
              </md-button>

              <h2 flex="flex" md-truncate="md-truncate">SCALEFLUENCE</h2>
            </div>
          </md-toolbar>
          <md-card-content layout="column" layout-align="center center">
            <h2>This account has been terminated!</h2>
            <p>Get in touch with the main Admin</p>
            <md-button class="md-raised md-warn" aria-label="sign out" ng-href="/admin/logout">Sign Out</md-button>
          </md-card-content>
        </md-content>
      </md-card>
    <% end %>
  </body>
</html>
