%p
  Hello #{@resource.email}!
%p Someone has requested a link to change your password. You can do this through the link below.
%p <a href="https://app.scalefluence.com/#/resetPassword?token=#{@token}">Change my password</a>
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
