<%= javascript_tag do %>
   window.webContent = `<%= raw @web_content %>`;
   window.results = `<%= @results %>`;
<% end %>

<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center" flex>
      <div layout="row" layout-align="start center">
        <h2>Sponsored Web</h2>
        <div layout="row" layout-align="end center" flex class="raised-input-container">
          <input flex ng-model="ctrl.query.filter"
                 class="md-input no-focus raised-input search-input" placeholder="Search..."
                 ng-keydown="$event.keyCode === 13 && ctrl.search()">
          <md-button class="md-raised" aria-label="search" ng-click="ctrl.search()">search</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="start center" class="radio-container">
      <span><strong>Selected Scope:</strong></span>
      <md-radio-group ng-model="ctrl.query.scope" layout="row"
                      ng-change="ctrl.modifyScope()">
        <md-radio-button ng-repeat="state in ctrl.states" value="{{ state.payload }}">{{ state.label | capitalize }}</md-radio-button>
      </md-radio-group>
    </div>

    <div layout="row" layout-align="center center" >
      <h3 ng-if="ctrl.results < 1">No results found</h3>
    </div>

    <md-table-container ng-if="ctrl.webContent.length > 0">
      <table md-table="md-table" md-row-select="md-row-select" multiple="multiple" md-progress="ctrl.promise">
        <thead md-head="md-head" md-order="ctrl.query.order">
          <tr md-row="md-row">
            <th md-column>Created Date</th>
            <th md-column>Publisher Email</th>
            <th md-column>Url</th>
            <th md-column>Suggested pay</th>
            <th md-column>Pub inputed</th>
            <th md-column>Adv price</th>
            <th md-column>State</th>
            <th md-column="action" ng-if="!ctrl.isActive()">Admin actions</th>
          </tr>
        </thead>
        <tbody md-body="md-body">
          <tr md-row="md-row" md-select="quote" md-select-id="name" md-auto-select ng-repeat="item in ctrl.webContent">
            <td md-cell>{{ item.created_at | date:'MM-dd-yyyy' }}</td>
            <td md-cell>
              <a href="/admin/publishers/{{ item.profile.publisher.id }}">{{ item.profile.publisher.email }}</a>
            </td>
            <td md-cell class="truncated-text-container">
              <div class="truncate-text">
                <a href="{{ item.href }}" target="_blank">
                   <md-tooltip>{{ item.href }}</md-tooltip>
                  {{ item.href }}
                </a>
              </div>
            </td>
            <td md-cell>{{ item.price | currency:'$':0 }}</td>
            <td md-cell>{{ item.price | currency:'$':0 }}</td>
            <td md-cell ng-click="ctrl.editPrice($event, item)">{{ item.price | currency }}</td>
            <td md-cell class="capitalize">{{ item.state }}</td>
            <td md-cell ng-if="!ctrl.isActive()">
              <md-select class="underline" ng-model="item.action"
                         name="action" placeholder="Please Select"
                         ng-change="ctrl.performAction(item.action, item)">
                <md-option ng-repeat="action in ctrl.actions" value="{{ action.id }}">
                  {{ action.name }}
                </md-option>
              </md-select>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[10, 15, 20]"
      md-page="ctrl.query.page" md-total="{{ ctrl.results }}" md-on-paginate="ctrl.getWebContent" md-page-select></md-table-pagination>
  </md-card-content>
</md-card>
