<md-dialog class="categories" aria-label="Edit categories">
  <form name="categoryForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Categories</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-contact-chips flex class="md-no-underline" ng-model="ctrl.selectedCategories"
          md-contacts="ctrl.querySearch($query)" md-contact-name="name"
          md-require-match="true" md-highlight-flags="i" filter-selected="true"
          placeholder="Select Categories" layout="row">
        </md-contact-chips>
        <br>
        <md-list flex>
          <div layout-wrap
               layout-align="center" class="list-items-container">
            <md-list-item ng-repeat="category in ctrl.categories | orderBy: 'name'" row-wrap-fill>
              <md-button class="md-raised category" aria-label="{{ category.name }}"
                         ng-class="{ selected: ctrl.isSelected(category) }"
                         ng-click="ctrl.toggleCategory(category)">
                {{ category.name }}
              </md-button>
            </md-list-item>
          </div>
        </md-list>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised" ng-click="ctrl.cancel()">
        Cancel
      </md-button>
      <md-button class="md-raised md-warn" ng-click="ctrl.submit()">
        Save Changes
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
