<md-dialog class="password" aria-label="Change publisher password">
  <form name="passwordForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ ctrl.title }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" ng-required="true" name="password"
                 ng-model="ctrl.password" ng-change="ctrl.cantChange" minlength="8">
          <div ng-messages="passwordForm.password.$error">
            <div ng-message="required">You must supply a password.</div>
            <div ng-message="minlength">
              The password must be at least 8 characters length.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Repeat Password</label>
          <input type="password" ng-required="true" name="repeatPassword" ng-model="ctrl.repeat_password" ng-change="ctrl.cantChange">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="ctrl.answer('cancel')">
       Cancel
      </md-button>
      <md-button ng-disabled="ctrl.cantChange()" class="md-warn" ng-click="ctrl.answer(ctrl.password, ctrl.repeat_password)">
        Change
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
