<md-dialog class="description" aria-label="Change description">
  <form name="descriptionForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ ctrl.title }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="ctrl.description" ng-required="true" name="description" md-maxlength="200" rows="3" md-select-on-focus></textarea>
          <div ng-messages="descriptionForm.description.$error">
            <div ng-message="required">You must supply a description.</div>
            <div ng-message="maxlength">
              The maximum length is 200 characters.
            </div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="ctrl.cancel()">
        Cancel
      </md-button>
      <md-button ng-disabled="!descriptionForm.$valid || !descriptionForm.$dirty" class="md-warn" ng-click="ctrl.answer(ctrl.description)">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
