<md-dialog class="new-admin" aria-label="New admin user">
  <form name="newAdminForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Admin User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" flex>
          <md-input-container flex>
            <label>Email</label>
            <input ng-required="true" ng-model="ctrl.admin.email" ng-change="ctrl.refreshErrors(newAdminForm, 'email')"
              name="email" type="text" ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="newAdminForm.email.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
              <div ng-message="required">This is required.</div>
              <div ng-message="emailtaken">This email has already been taken.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Phone</label>
            <input ng-required="true" ng-model="ctrl.admin.phone" ng-change="ctrl.validPhone(newAdminForm)"
              name="phone" type="text" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/">
            <div class="hint" ng-show="newAdminForm.phone.$valid || newAdminForm.phone.$untouched">(###) ###-####</div>
            <div ng-messages="newAdminForm.phone.$error" md-auto-hide="true">
              <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>First Name</label>
            <input ng-required="true" ng-model="ctrl.admin.name"
              name="name" type="text">
            <div ng-messages="newAdminForm.name.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Last Name</label>
            <input ng-required="true" ng-model="ctrl.admin.lastName"
              name="lastName" type="text">
            <div ng-messages="newAdminForm.lastName.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Password</label>
            <input ng-required="true" ng-model="ctrl.admin.password"
              name="password" type="password" minlength="8" maxlength="16">
            <div ng-messages="newAdminForm.password.$error" md-auto-hide="true">
              <div ng-message="minlength">Password with at least 8 characters</div>
              <div ng-message="md-maxlength">Password with maximum 16 characters</div>
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Password Confirmation</label>
            <input ng-required="true" ng-model="ctrl.admin.repeat_password" ng-change="ctrl.refreshErrors(newAdminForm, 'repeatPassword')"
              name="repeatPassword" type="password" minlength="8" maxlength="16">
            <div ng-messages="newAdminForm.repeatPassword.$error" md-auto-hide="true">
              <div ng-message="minlength">Confirmation password with at least 8 characters</div>
              <div ng-message="md-maxlength">Confirmation password with maximum 16 characters</div>
              <div ng-message="required">This is required.</div>
              <div ng-message="no-match">Passwords don't match</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-warn" ng-click="ctrl.submit(newAdminForm)"
                 ng-disabled="newAdminForm.$invalid">
        Create admin
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
