<md-dialog class="new-author" aria-label="New author">
  <form name="newAgentForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Agent</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" flex>
          <md-input-container flex>
            <label>Email</label>
            <input ng-required="true" ng-model="ctrl.agent.email" ng-change="ctrl.refreshErrors(newAgentForm, 'email')"
              name="email" type="text" ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="newAgentForm.email.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
              <div ng-message="required">This is required.</div>
              <div ng-message="emailtaken">This email has already been taken.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>PayPal Email</label>
            <input ng-required="true" ng-model="ctrl.agent.paypal_email"
              name="paypalEmail" type="text" ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="newAgentForm.paypalEmail.$error" md-auto-hide="true">
              <div ng-message-exp="['pattern']">
                Must have email format: example@mail.com
              </div>
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>First Name</label>
            <input ng-required="true" ng-model="ctrl.agent.first_name"
              name="name" type="text">
            <div ng-messages="newAgentForm.name.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Last Name</label>
            <input ng-required="true" ng-model="ctrl.agent.last_name"
              name="lastName" type="text">
            <div ng-messages="newAgentForm.lastName.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Password</label>
            <input ng-required="true" ng-model="ctrl.agent.password"
              name="password" type="password" minlength="8" maxlength="16">
            <div ng-messages="newAgentForm.password.$error" md-auto-hide="true">
              <div ng-message="minlength">Password with at least 8 characters</div>
              <div ng-message="md-maxlength">Password with maximum 16 characters</div>
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Password Confirmation</label>
            <input ng-required="true" ng-model="ctrl.agent.repeat_password" ng-change="ctrl.refreshErrors(newAgentForm, 'repeatPassword')"
              name="repeatPassword" type="password" minlength="8" maxlength="16">
            <div ng-messages="newAgentForm.repeatPassword.$error" md-auto-hide="true">
              <div ng-message="minlength">Confirmation password with at least 8 characters</div>
              <div ng-message="md-maxlength">Confirmation password with maximum 16 characters</div>
              <div ng-message="required">This is required.</div>
              <div ng-message="no-match">Passwords don't match</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-warn" ng-click="ctrl.submit(newAgentForm)"
                 ng-disabled="newAgentForm.$invalid">
        Create agent
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
