<md-dialog class="new-content" aria-label="New Quote">
  <form name="newContentForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Quote</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content quote">
        <div layout-gt-sm="row" class="quote-row">
          <md-autocomplete flex
             ng-required="true"
             md-input-name="advEmail"
             md-selected-item="dctrl.advertiser"
             md-search-text="dctrl.searchTextAdv"
             md-items="advertiser in dctrl.querySearchAdvertisers(dctrl.searchTextAdv)"
             md-item-text="advertiser.full_name"
             md-require-match
             md-min-length="0"
             md-no-cache="true"
             md-floating-label="Select Advertiser"
             md-menu-class="autocomplete-custom-template">
           <md-item-template>
             <span md-highlight-flags="^i" md-highlight-text="dctrl.searchTextAdv">{{ advertiser.full_name }} - {{ advertiser.email }}</span>
           </md-item-template>
           <div ng-messages="newContentForm.advEmail.$error">
             <div ng-message="md-require-match">Please select an existing advertiser.</div>
             <div ng-message="required">You must supply an advertiser.</div>
           </div>
          </md-autocomplete>

          <md-autocomplete flex
            ng-required="true"
            md-input-name="campaignName"
            md-selected-item="dctrl.campaign"
            md-search-text="dctrl.searchTextCampaign"
            md-items="campaign in dctrl.querySearchCampaign(dctrl.searchTextCampaign)"
            md-selected-item-change="dctrl.campaignSelected(campaign)"
            md-item-text="campaign.name"
            md-require-match
            md-no-cache="true"
            md-min-length="0"
            md-floating-label="Select Campaign">
          <md-item-template>
            <span md-highlight-flags="^i" md-highlight-text="dctrl.searchTextCampaign">{{ campaign.name }}</span>
          </md-item-template>
          <div ng-messages="newContentForm.campaignName.$error">
            <div ng-message="md-require-match">Please select an existing campaign.</div>
            <div ng-message="required">You must supply a campaign.</div>
          </div>
          </md-autocomplete>
        </div>

        <br>

        <div layout="column">
          <label class="fake-floating" ng-if="dctrl.quote.categories.length > 0">Categories</label>
          <md-contact-chips
              ng-model="dctrl.quote.categories"
              md-contacts="dctrl.queryCategories($query)"
              md-contact-name="name"
              md-require-match="true"
              md-highlight-flags="i"
              filter-selected="true"
              placeholder="Campaign's Categories">
          </md-contact-chips>
        </div>

        <br>

        <div layout="row">
          <div class="slider-container" flex>
            <p>Domain Authority</p>
            <rzslider rz-slider-model="dctrl.quote.domain_authority_min" rz-slider-high="dctrl.quote.domain_authority_max"
                      rz-slider-options="dctrl.domainAuthority.options"></rzslider>
          </div>
          <div class="slider-container" flex>
            <p>Trust Flow</p>
            <rzslider rz-slider-model="dctrl.quote.trust_flow_min" rz-slider-high="dctrl.quote.trust_flow_max"
                      rz-slider-options="dctrl.trustFlow.options"></rzslider>
          </div>
        </div>
        <div layout="row" class="dr_slider">
          <div class="slider-container" flex>
          <p>Domain Rating</p>
          <rzslider rz-slider-model="dctrl.quote.ahrefs_dr_min" rz-slider-high="dctrl.quote.ahrefs_dr_max"
                    rz-slider-options="dctrl.ahrefsDr.options"></rzslider>
        </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-warn" ng-click="dctrl.submit()"
                 ng-disabled="newContentForm.$invalid || dctrl.quote.categories.length == 0">
        Create quote
      </md-button>
      <md-button class="md-raised" ng-click="dctrl.cancel()" aria-label="cancel">cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
