<md-dialog class="new-campaign" aria-label="New Campaign">
  <form name="newCampaignForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Campaign</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-sm="column">

          <md-input-container flex>
            <label>Campaign's name</label>
            <input ng-required="true" ng-model="ctrl.campaign.name"
              name="Name" type="text">
            <div ng-messages="newCampaignForm.name.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <br>

          <md-input-container flex>
            <label>Add a new URL</label>
            <input ng-required="true" ng-model="ctrl.campaign.links_attributes.href"
              name="href" type="url">
            <div ng-messages="newCampaignForm.href.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
              <div ng-message="url">This url doesn't seem good, please check.</div>
            </div>
          </md-input-container>

          <br>
          <br>

          <md-contact-chips flex class="md-no-underline" ng-model="ctrl.campaign.categories"
            md-contacts="ctrl.querySearch($query)" md-contact-name="name"
            md-require-match="true" md-highlight-flags="i" filter-selected="true"
            placeholder="Select Categories" layout="row">
          </md-contact-chips>

          <br>

          <md-list class="categories-container">
              <md-list-item class="no-padding" ng-repeat="category in ctrl.categories | orderBy: 'name'" >
                <md-button class="md-raised category" aria-label="{{ category.name }}"
                           ng-class="{ selected: ctrl.isSelected(category) }"
                           ng-click="ctrl.toggleCategory(category)">
                  {{ category.name }}
                </md-button>
              </md-list-item>
          </md-list>

        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-warn" ng-click="ctrl.submit()"
                 ng-disabled="newCampaignForm.$invalid">
        Create Campaign
      </md-button>
      <md-button class="md-raised" ng-click="ctrl.cancel()" aria-label="cancel">cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
