<md-dialog class="new-email-template" aria-label="New email template">
  <form name="newEmailTemplateForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ ctrl.email.name }} Template</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="row" flex>
          <md-input-container flex>
            <label>Subject</label>
            <input ng-required="true" ng-model="ctrl.emailTemplate.subject"
              name="subject" type="text">
            <div ng-messages="newEmailForm.subject.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label for="">Days Delayed</label>
            <md-select ng-model="ctrl.emailTemplate.days_delayed" aria-label="Days delayed?">
              <md-option ng-repeat="opt in ctrl.days" ng-value="opt">{{opt}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex>
            <md-checkbox name="active" ng-model="ctrl.emailTemplate.active" aria-label="Active?" ng-checked="ctrl.emailTemplate.active">
              Template Active?
            </md-checkbox>
          </md-input-container>

          <md-input-container flex>
            <md-checkbox name="collate" ng-model="ctrl.emailTemplate.collate" aria-label="Collate?" ng-checked="ctrl.emailTemplate.collate">
              Collate Email?
            </md-checkbox>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <ng-quill-editor ng-model="ctrl.emailTemplate.template" placeholder="Add email content here..." on-content-changed="contentChanged(editor, html, text)" flex>
          </ng-quill-editor>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-warn" ng-click="ctrl.submit(newEmailTemplateForm)" ng-disabled="newEmailTemplateForm.$invalid">
        Save template
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
