<md-dialog class="new-email" aria-label="New email">
  <form name="newEmailForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Email</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="row" flex>
          <md-input-container flex>
            <label>Name</label>
            <input ng-required="true" ng-model="ctrl.email.name"
              name="name" type="text">
            <div ng-messages="newEmailForm.name.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Receiver</label>
            <md-select ng-model="ctrl.email.receiver_type">
              <md-option ng-value="type" ng-repeat="type in ctrl.receiverTypes">{{ type }}</md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>Redirect URL</label>
            <input ng-required="true" ng-model="ctrl.email.redirect_url" name="redirect_url" type="text" placeholder="http://example.com/path">
            <div ng-messages="newEmailForm.redirect_url.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <md-checkbox name="response_required" ng-model="ctrl.email.response_required" aria-label="Response Required?" ng-checked="ctrl.email.response_required">
              Response Required?
            </md-checkbox>
          </md-input-container>

          <md-input-container flex>
            <md-checkbox name="active" ng-model="ctrl.email.active" aria-label="Active?" ng-checked="ctrl.email.active">
              Email Active?
            </md-checkbox>
          </md-input-container>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-warn" ng-click="ctrl.submit(newEmailForm)" ng-disabled="newEmailForm.$invalid">
        Create email
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
