<md-dialog class="notes-content" aria-label="Article's notes">
  <form name="notesForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Notes</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding layout-align="center">
      <p ng-repeat="note in ctrl.notes">
        <span class="{{ note.role | lowercase }}">{{ note.role | capitalize }}</span>:
        <span> {{ note.comment }} </span> - <span>  {{ note.created_at | date:'MM-dd-yyyy HH:MM' }} </span>
      </p>
      <div flex>
        <md-input-container class="md-block note-area">
          <label>Write down some notes</label>
          <textarea ng-trim="true" ng-model="ctrl.newMessage" rows="2"
            md-select-on-focus name="newNote" ng-required="true">
          </textarea>
          <div ng-messages="notesForm.newNote.$error">
            <div ng-message="required">You can't submit an empty note.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised" ng-click="ctrl.cancel()">Cancel</md-button>
      <md-button class="md-raised md-warn" ng-click="ctrl.submit(ctrl.newMessage, notesForm)" ng-disabled="notesForm.$invalid">
        Send note
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
