<md-dialog class="quick-email" aria-label="Quick email">
  <form name="quickEmailForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Quick Note for Publsiher ({{ ctrl.email.to }})</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="row" flex>
          <md-input-container flex>
            <label>Subject</label>
            <input ng-required="true" ng-model="ctrl.email.subject"
              name="subject" type="text">
            <div ng-messages="quickEmailForm.subject.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <br>

        <div layout="row" flex>
          <md-input-container flex>
            <textarea placeholder="Say something" ng-model="ctrl.email.body" ng-required="true"
                      name="body" md-maxlength="200" rows="2" md-select-on-focus></textarea>
            <div ng-messages="quickEmailForm.body.$error" md-auto-hide="true">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-warn" ng-click="ctrl.submit(quickEmailForm)"
                 ng-disabled="quickEmailForm.$invalid || $root.isLoading">
        Send
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
