<div ng-if="!ctrl.finish && ctrl.isFinishing()" class="finishing">
  <span>{{ ctrl.time.minutes }}m</span>
  <span>{{ ctrl.time.seconds }}s</span>
  <span>({{ ctrl.endingDate() }})</span>
</div>

<span ng-if="!ctrl.finish && !ctrl.isFinishing()">
  {{ ctrl.remainingHours() }}h ({{ ctrl.endingDate() }})
</span>

<span ng-if="ctrl.finish">Finished</span>
