<md-sidenav layout="column" class="main-sidenav md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar md-whiteframe="2">
    <h1 class="md-toolbar-tools">Main menu</h1>
  </md-toolbar>
  <md-content layout="column" flex>
    <md-sidemenu>
      <md-sidemenu-group>

        <md-sidemenu-button href="/admin/dashboard">DASHBOARD</md-sidemenu-button>
        <md-sidemenu-button href="/admin/admin_users" ng-if="ctrl.isAdmin()">ADMIN ACCOUNTS</md-sidemenu-button>

        <md-sidemenu-content md-heading="PUBLISHERS' QUEUE" collapse-other="true" md-arrow="true" on-hover="true" ng-if="ctrl.isAdmin()">
          <md-sidemenu-button href="/admin/publishers" ng-if="ctrl.isAdmin()">PUB ACCOUNTS</md-sidemenu-button>
          <md-sidemenu-button href="/admin/urls">SEO&nbsp<strong ng-if="ctrl.seoCounter > 0" class="notification">({{ ctrl.seoCounter }})</strong></md-sidemenu-button>
          <md-sidemenu-button href="/admin/social_handles">SPONSORED SOCIAL&nbsp<strong ng-if="ctrl.socialHandleCounter > 0" class="notification">({{ ctrl.socialHandleCounter }})</strong></md-sidemenu-button>
          <md-sidemenu-button href="/admin/web_contents">SPONSORED WEB&nbsp<strong ng-if="ctrl.webContentCounter > 0" class="notification">({{ ctrl.webContentCounter }})</strong></md-sidemenu-button>
          <md-sidemenu-button href="/admin/url_reassign" ng-if="ctrl.isAdmin()">PUB RE-ASSIGN</md-sidemenu-button>
        </md-sidemenu-content>

        <md-sidemenu-button href="/admin/orders" ng-if="ctrl.isAdmin()">PUB POSTS</md-sidemenu-button>
        <md-sidemenu-button href="/admin/payouts" ng-if="ctrl.isAdmin()">PUB PAYOUTS</md-sidemenu-button>
        <md-sidemenu-button href="/admin/contents" ng-if="ctrl.isAdmin()">QUOTES&nbsp<strong ng-if="ctrl.counter > 0" class="notification">({{ ctrl.counter }})</strong></md-sidemenu-button>
        <md-sidemenu-button href="/admin/articles">
          CONTENT&nbsp<strong ng-if="ctrl.articlesCounter > 0 && ctrl.isAdmin()" class="notification">({{ ctrl.articlesCounter }})</strong>
        </md-sidemenu-button>

        <md-sidemenu-button href="/admin/ads" ng-if="ctrl.isAdmin()">
          UNRESPONSIVE ADS&nbsp<strong ng-if="ctrl.unresponsiveAdsCounter > 0" class="notification">({{ ctrl.unresponsiveAdsCounter }})</strong>
        </md-sidemenu-button>
        <md-sidemenu-button href="/admin/action_items" ng-if="ctrl.isAdmin()">
          ACTION ITEMS&nbsp<strong ng-if="ctrl.actionItemsCounter > 0" class="notification">({{ ctrl.actionItemsCounter }})</strong>
        </md-sidemenu-button>

        <md-sidemenu-content md-heading="ADVERTISERS' QUEUE" collapse-other="true" md-arrow="true" on-hover="true" ng-if="ctrl.isAdmin()">
          <md-sidemenu-button href="/admin/campaigns">NEW CAMPAIGNS&nbsp<strong class="notification">({{ ctrl.newCampaignsCounter }})</strong></md-sidemenu-button>
          <md-sidemenu-button href="/admin/advertisers">ADV ACCOUNTS</md-sidemenu-button>
          <md-sidemenu-button href="/admin/adv_orders">ADV ORDERS</md-sidemenu-button>
          <md-sidemenu-button href="/admin/adv_reassign">ADV RE-ASSIGN</md-sidemenu-button>
        </md-sidemenu-content>

        <md-sidemenu-button href="/admin/agents" ng-if="ctrl.isAdmin()">AGENTS</md-sidemenu-button>
        <md-sidemenu-button href="/admin/emails" ng-if="ctrl.isAdmin()">EMAILS</md-sidemenu-button>
        <md-sidemenu-button href="/admin/authors" ng-if="ctrl.isAdmin()">AUTHORS</md-sidemenu-button>
        <md-sidemenu-button href="/admin/author_invoices" ng-if="ctrl.isAuthor()">INVOICES</md-sidemenu-button>
        <md-sidemenu-button href="/admin/authors/{{ ctrl.userId }}" ng-if="ctrl.isAuthor()">MY ACCOUNT</md-sidemenu-button>
        <md-sidemenu-button href="/admin/reports">REPORTS</md-sidemenu-button>
      </md-sidemenu-group>
    </md-sidemenu>
  </md-content>

</md-sidenav>
