<md-toolbar class="md-hue-2 fixed" md-whiteframe="2" ng-class="{ 'toolbar': ctrl.bigScreen() }">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="ctrl.toggleMenu()" ng-show="ctrl.smallScreen()">
      <md-icon>menu</md-icon>
    </md-button>

    <span>SCALEFLUENCE ADMIN</span>
    <span flex></span>
    <div ng-if="ctrl.bigScreen()">{{ ctrl.name }}</div>
    <md-menu>
      <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
        <md-icon>person</md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="ctrl.signOut()">
            <md-icon>exit_to_app</md-icon>
            Sign out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
