<md-dialog class="file-content" aria-label="Upload file">
  <form name="uploadForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Upload a file</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>{{ ctrl.getInputLabel() }}</label>
          <input ng-model="ctrl.file.name" ng-required="true" disabled>
        </md-input-container>
        <div layout="column" layout-align="center center">
          <md-button class="md-raised md-mini" aria-label="upload"
                     type="file" ngf-select ng-model="ctrl.file" name="ctrl.fileName"
                     ngf-accept="ctrl.fileExt" ngf-max-size="ctrl.fileMax">Search</md-button>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-warn" ng-click="ctrl.submit()" ng-disabled="uploadForm.$invalid">
        Submit file
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
